.elementor-16859 .elementor-element.elementor-element-fad7cda > .elementor-container{max-width:900px;}.elementor-16859 .elementor-element.elementor-element-fad7cda > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-16859 .elementor-element.elementor-element-fad7cda:not(.elementor-motion-effects-element-type-background), .elementor-16859 .elementor-element.elementor-element-fad7cda > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-16859 .elementor-element.elementor-element-fad7cda{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;z-index:1;}.elementor-16859 .elementor-element.elementor-element-fad7cda > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-16859 .elementor-element.elementor-element-8a27f85 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-16859 .elementor-element.elementor-element-8a27f85{z-index:4;}.elementor-16859 .elementor-element.elementor-element-4c5d2e4{font-family:"Adrianna", Sans-serif;font-size:12px;font-weight:400;color:#FFA69F;}.elementor-16859 .elementor-element.elementor-element-4c5d2e4 a{color:#FA7268;}.elementor-16859 .elementor-element.elementor-element-4c5d2e4 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-16859 .elementor-element.elementor-element-f1209e7{text-align:center;}.elementor-16859 .elementor-element.elementor-element-f1209e7 .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Adrianna-Regular", Sans-serif;font-size:51px;font-weight:700;text-transform:none;font-style:normal;line-height:52px;}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(0px/2);margin-left:calc(0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-0px/2);margin-left:calc(-0px/2);}body.rtl .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-0px/2);}body:not(.rtl) .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-icon{width:14px;}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-icon i{font-size:14px;}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-icon svg{--e-icon-list-icon-size:14px;}body:not(.rtl) .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-text{padding-left:0px;}body.rtl .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-text{padding-right:0px;}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-text, .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-text a{color:var( --e-global-color-secondary );}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-item{font-family:"Adrianna", Sans-serif;font-size:14px;font-weight:400;}.elementor-16859 .elementor-element.elementor-element-9f94ff3{margin-top:-10px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-16859 .elementor-element.elementor-element-e9afac8 > .elementor-element-populated{margin:0% 0% 0% 0%;--e-column-margin-right:0%;--e-column-margin-left:0%;}.elementor-16859 .elementor-element.elementor-element-8b7f79f{text-align:left;top:32px;}.elementor-16859 .elementor-element.elementor-element-8b7f79f img{width:26%;}body:not(.rtl) .elementor-16859 .elementor-element.elementor-element-8b7f79f{right:0px;}body.rtl .elementor-16859 .elementor-element.elementor-element-8b7f79f{left:0px;}.elementor-16859 .elementor-element.elementor-element-22454e8{text-align:right;top:-154px;}.elementor-16859 .elementor-element.elementor-element-22454e8 img{width:25%;}body:not(.rtl) .elementor-16859 .elementor-element.elementor-element-22454e8{right:0px;}body.rtl .elementor-16859 .elementor-element.elementor-element-22454e8{left:0px;}.elementor-16859 .elementor-element.elementor-element-8bbb448{margin-top:0%;margin-bottom:0%;}.elementor-16859 .elementor-element.elementor-element-204c49a > .elementor-element-populated{margin:0% 0% 0% 0%;--e-column-margin-right:0%;--e-column-margin-left:0%;}.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-icon{width:14px;}.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-icon i{font-size:14px;}.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-icon svg{--e-icon-list-icon-size:14px;}.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-text, .elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-text a{color:#FFFFFF;}.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-item{font-family:"Magicline", Sans-serif;font-size:32px;font-weight:400;line-height:56px;}.elementor-16859 .elementor-element.elementor-element-99f30a6 > .elementor-widget-container{margin:0% 55% -4% 0%;--e-transform-rotateZ:-5deg;}.elementor-16859 .elementor-element.elementor-element-99f30a6{z-index:2;}.elementor-16859 .elementor-element.elementor-element-198b28b{text-align:center;z-index:1;width:initial;max-width:initial;align-self:center;}.elementor-16859 .elementor-element.elementor-element-198b28b img{width:58vw;}.elementor-16859 .elementor-element.elementor-element-198b28b .widget-image-caption{text-align:right;color:var( --e-global-color-6b6edd0 );font-family:var( --e-global-typography-ec4a1f8-font-family ), Sans-serif;font-size:var( --e-global-typography-ec4a1f8-font-size );font-weight:var( --e-global-typography-ec4a1f8-font-weight );line-height:var( --e-global-typography-ec4a1f8-line-height );letter-spacing:var( --e-global-typography-ec4a1f8-letter-spacing );word-spacing:var( --e-global-typography-ec4a1f8-word-spacing );margin-top:0px;}.elementor-16859 .elementor-element.elementor-element-198b28b > .elementor-widget-container{margin:0px 0px 4px 200px;padding:0% 0% 0% 0%;}.elementor-16859 .elementor-element.elementor-element-597a896 .elementor-icon-wrapper{text-align:center;}.elementor-16859 .elementor-element.elementor-element-597a896 .elementor-icon{font-size:191px;}.elementor-16859 .elementor-element.elementor-element-597a896 .elementor-icon i, .elementor-16859 .elementor-element.elementor-element-597a896 .elementor-icon svg{transform:rotate(0deg);}.elementor-16859 .elementor-element.elementor-element-597a896 > .elementor-widget-container{margin:0% 0% 0% 0%;--e-transform-translateX:-50%;--e-transform-translateY:19%;}.elementor-16859 .elementor-element.elementor-element-597a896{z-index:2;width:initial;max-width:initial;align-self:center;}.elementor-16859 .elementor-element.elementor-element-d911e8d.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-16859 .elementor-element.elementor-element-8fcb147{text-align:justify;font-family:"Adrianna-Regular", Sans-serif;font-size:18px;font-weight:400;font-style:normal;line-height:28px;}.elementor-16859 .elementor-element.elementor-element-8fcb147 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-16859 .elementor-element.elementor-element-3fd5513 > .elementor-container{min-height:500px;}.elementor-16859 .elementor-element.elementor-element-3fd5513{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-16859 .elementor-element.elementor-element-3fd5513:not(.elementor-motion-effects-element-type-background), .elementor-16859 .elementor-element.elementor-element-3fd5513 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-accent );}.elementor-16859 .elementor-element.elementor-element-3fd5513 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-16859 .elementor-element.elementor-element-115e1e0b > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-16859 .elementor-element.elementor-element-39969cbf .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Adrianna", Sans-serif;font-size:34px;font-weight:700;}.elementor-16859 .elementor-element.elementor-element-39969cbf > .elementor-widget-container{margin:-0px 0px 0px 190px;padding:30px 0px 30px 0px;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f .anwp-pg-widget-header{margin-bottom:15px;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f .anwp-pg-classic-slider .anwp-pg-category__wrapper-filled{background-color:#FBEBE7 !important;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f .anwp-pg-post-teaser__title a{font-family:"Adrianna", Sans-serif;font-size:16px;color:var( --e-global-color-text );}.elementor-16859 .elementor-element.elementor-element-5c57dc1f .anwp-pg-post-teaser__bottom-meta{margin-top:5px;margin-bottom:5px;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f .elementor-swiper-button.elementor-swiper-button-prev, .elementor-16859 .elementor-element.elementor-element-5c57dc1f .elementor-swiper-button.elementor-swiper-button-next{color:#FFFFFF;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f > .elementor-widget-container{margin:0px -50px 0px 160px;}.elementor-16859 .elementor-element.elementor-element-7fed1a47{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-16859 .elementor-element.elementor-element-5aa2d55f .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Adrianna", Sans-serif;font-size:34px;font-weight:700;}.elementor-16859 .elementor-element.elementor-element-5aa2d55f > .elementor-widget-container{margin:2% 2% 2% 0%;}.elementor-16859 .elementor-element.elementor-element-5d800ae5 .anwp-pg-widget-header__secondary-line{background-color:#61CE70;}.elementor-16859 .elementor-element.elementor-element-5d800ae5.anwp-pg-widget-header-style--b .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-16859 .elementor-element.elementor-element-5d800ae5.anwp-pg-widget-header-style--c .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-16859 .elementor-element.elementor-element-5d800ae5 .anwp-pg-widget-header{margin-bottom:15px;}.elementor-16859 .elementor-element.elementor-element-5d800ae5.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-16859 .elementor-element.elementor-element-5d800ae5.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-16859 .elementor-element.elementor-element-5d800ae5.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-16859 .elementor-element.elementor-element-5d800ae5.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-16859 .elementor-element.elementor-element-5d800ae5.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-16859 .elementor-element.elementor-element-5d800ae5.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-16859 .elementor-element.elementor-element-5d800ae5.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-16859 .elementor-element.elementor-element-5d800ae5 .anwp-pg-classic-grid .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;color:var( --e-global-color-secondary );}.elementor-16859 .elementor-element.elementor-element-5d800ae5 .anwp-pg-classic-grid .anwp-pg-post-teaser__content{background-color:#FFFFFF !important;}.elementor-16859 .elementor-element.elementor-element-5d800ae5 .anwp-pg-post-teaser__title a{font-family:"Adrianna", Sans-serif;font-size:16px;color:var( --e-global-color-text );}.elementor-16859 .elementor-element.elementor-element-5d800ae5 .anwp-pg-post-teaser__bottom-meta{margin-top:-5px;margin-bottom:-5px;}@media(min-width:768px){.elementor-16859 .elementor-element.elementor-element-632f5498{width:10.031%;}.elementor-16859 .elementor-element.elementor-element-39ac7a03{width:79.502%;}.elementor-16859 .elementor-element.elementor-element-51835c91{width:10.131%;}}@media(max-width:1024px){.elementor-16859 .elementor-element.elementor-element-198b28b .widget-image-caption{font-size:var( --e-global-typography-ec4a1f8-font-size );line-height:var( --e-global-typography-ec4a1f8-line-height );letter-spacing:var( --e-global-typography-ec4a1f8-letter-spacing );word-spacing:var( --e-global-typography-ec4a1f8-word-spacing );}}@media(max-width:767px){.elementor-16859 .elementor-element.elementor-element-fad7cda > .elementor-container{max-width:500px;}.elementor-16859 .elementor-element.elementor-element-fad7cda{z-index:4;}.elementor-16859 .elementor-element.elementor-element-8a27f85{width:100%;}.elementor-16859 .elementor-element.elementor-element-8a27f85 > .elementor-element-populated{margin:0% 0% 0% 0%;--e-column-margin-right:0%;--e-column-margin-left:0%;}.elementor-16859 .elementor-element.elementor-element-4c5d2e4 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-16859 .elementor-element.elementor-element-f1209e7 .elementor-heading-title{font-size:28px;line-height:30px;}.elementor-16859 .elementor-element.elementor-element-f1209e7 > .elementor-widget-container{margin:-5% 0% 0% 0%;padding:0% 0% 0% 0%;}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(0px/2);margin-left:calc(0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-0px/2);margin-left:calc(-0px/2);}body.rtl .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-0px/2);}body:not(.rtl) .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-item{line-height:19px;}.elementor-16859 .elementor-element.elementor-element-6966788 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}body:not(.rtl) .elementor-16859 .elementor-element.elementor-element-8b7f79f{right:0px;}body.rtl .elementor-16859 .elementor-element.elementor-element-8b7f79f{left:0px;}.elementor-16859 .elementor-element.elementor-element-8b7f79f{top:43px;}.elementor-16859 .elementor-element.elementor-element-22454e8{top:-20px;}.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-item{font-size:26px;}.elementor-16859 .elementor-element.elementor-element-99f30a6 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;}.elementor-16859 .elementor-element.elementor-element-198b28b img{width:100%;}.elementor-16859 .elementor-element.elementor-element-198b28b .widget-image-caption{font-size:var( --e-global-typography-ec4a1f8-font-size );line-height:var( --e-global-typography-ec4a1f8-line-height );letter-spacing:var( --e-global-typography-ec4a1f8-letter-spacing );word-spacing:var( --e-global-typography-ec4a1f8-word-spacing );}.elementor-16859 .elementor-element.elementor-element-198b28b > .elementor-widget-container{margin:0% 0% 0% 0%;}.elementor-16859 .elementor-element.elementor-element-597a896 .elementor-icon-wrapper{text-align:center;}.elementor-16859 .elementor-element.elementor-element-597a896 .elementor-icon{font-size:110px;}.elementor-16859 .elementor-element.elementor-element-597a896 > .elementor-widget-container{margin:0% 0% 0% -9%;--e-transform-translateX:0%;--e-transform-translateY:0%;}.elementor-16859 .elementor-element.elementor-element-597a896{width:28.438%;max-width:28.438%;align-self:flex-end;}.elementor-16859 .elementor-element.elementor-element-3fd5513 > .elementor-container{min-height:448px;}.elementor-16859 .elementor-element.elementor-element-3fd5513{margin-top:0px;margin-bottom:0px;}.elementor-16859 .elementor-element.elementor-element-115e1e0b > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-16859 .elementor-element.elementor-element-39969cbf{text-align:left;}.elementor-16859 .elementor-element.elementor-element-39969cbf .elementor-heading-title{font-size:22px;line-height:23px;}.elementor-16859 .elementor-element.elementor-element-39969cbf > .elementor-widget-container{margin:0px 100px 0px 0px;padding:0px 0px 0px 0px;}.elementor-16859 .elementor-element.elementor-element-5c57dc1f > .elementor-widget-container{margin:0% -40% 0% -9%;}.elementor-16859 .elementor-element.elementor-element-5aa2d55f{text-align:left;}.elementor-16859 .elementor-element.elementor-element-5aa2d55f .elementor-heading-title{font-size:22px;letter-spacing:1px;word-spacing:0.2em;}.elementor-16859 .elementor-element.elementor-element-5aa2d55f > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 4% 0% 0%;}}/* Start custom CSS for post-info, class: .elementor-element-99f30a6 */.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-text a{
    display: none;
}

.postCategory a{
    display: none;
    background-color: #F39E3D;
    padding: 5px;
}

.postCategory a{
    display: none;
    background-color: #F39E3D;
    padding: 5px;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-597a896 */@media only screen and (max-width: 768px) {
    #mobile-thread-post-img{
        width:150px;
        transform:translateX(10px);
        margin-left:80%;
        margin-top: -100%;
        overflow: hidden;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-204c49a */#postimgwrap .elementor-widget-wrap{
    justify-content: center;
}/* End custom CSS */
/* Start custom CSS for theme-post-content, class: .elementor-element-8fcb147 */#postcontent {
    width: 58vw
}

@media only screen and (max-width: 768px) {
    #postcontent {
    width: auto;
}
}/* End custom CSS */
/* Start custom CSS for anwp-pg-classic-slider, class: .elementor-element-5c57dc1f */#posts-slider .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__category-wrapper span{
  color: #F39E3D;
}

#posts-slider .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__category-wrapper span{
  color: #1A00DE;
}

#posts-slider .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__category-wrapper span{
  color: #F2A4B1;
}

.read-more.anwp-pg-read-more__btn{
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 16px !important;
}

#posts-slider .anwp-pg-post-teaser:nth-child(3n+1) .read-more.anwp-pg-read-more__btn{
  background-color: #F39E3D;
}

#posts-slider .anwp-pg-post-teaser:nth-child(3n+2) .read-more.anwp-pg-read-more__btn{
  background-color: #F2A4B1;
}

#posts-slider .anwp-pg-post-teaser:nth-child(3n+3) .read-more.anwp-pg-read-more__btn{
  background-color: #1A00DE;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__title{
    padding: 30px 12px 0px 0px !important;
    text-align: left !important;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: 700;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__content{
    min-height: 140px !important;
    
}
.anwp-pg-classic-slider .anwp-pg-post-teaser__top-meta{
    top: 100% !important;
    margin: 10px 0px 0px -10px !important;
    
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__thumbnail{
    overflow: visible !important;
}

.anwp-pg-classic-slider .eicon-chevron-left{
    position: absolute;
    top: -225px;
    left: 90vw;
    background-color: #1A00DE;
    padding: 8px 10px 8px 8px;
    border-radius: 50%;
}

.anwp-pg-classic-slider .eicon-chevron-right{
    position: absolute;
    top: -225px;
    left: -5vw;
    background-color: #1A00DE;
    padding: 8px 8px 8px 10px;
    border-radius: 50%;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser--layout-d{
    width: 350px !important;
}

.anwp-pg-classic-slider{
    overflow: hidden !important;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .anwp-pg-classic-slider .anwp-pg-post-teaser--layout-d{
    width: 250px !important;
}

.anwp-pg-classic-slider .eicon-chevron-right{
    display: none;
}

.anwp-pg-classic-slider .eicon-chevron-left{
    display: none;
}

.posts-slider-title .elementor-widget-container{
    margin: 0px 100px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#posts-slider-title .elementor-widget-container{
    margin: 0px 100px 0px 15px;
    padding: 0px 0px 0px 0px;
}

#posts-slider .elementor-widget-container{
    margin: 0% -100px 0% -15px;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-3fd5513 */@media only screen and (max-width: 768px) {
    #wrapslider{
        left:0px !important;
    }

}/* End custom CSS */
/* Start custom CSS for anwp-pg-classic-grid, class: .elementor-element-5d800ae5 */.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__category-wrapper span{
  color: #F39E3D;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__category-wrapper span{
  color: #1A00DE;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__category-wrapper span{
  color: #F2A4B1;
}

.read-more-grid.anwp-pg-read-more__btn{
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 16px !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__bottom-meta{
    margin-top: 25px !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+1) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #F39E3D;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+2) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #F2A4B1;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+3) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #1A00DE;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__content{
    border: none !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: 700;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__top-meta{
    top: 104% !important;
    left: -3% !important;
    
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__thumbnail{
    overflow: visible !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__title{
    margin: 30px 0px 0px 2px !important;
    text-align: left !important;
}/* End custom CSS */