.elementor-23125 .elementor-element.elementor-element-7c89256{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;}.elementor-23125 .elementor-element.elementor-element-7c89256 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-23125 .elementor-element.elementor-element-04e679c > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-23125 .elementor-element.elementor-element-a1bf55b{font-size:12px;font-weight:300;color:#F39E3DB3;}.elementor-23125 .elementor-element.elementor-element-a1bf55b a{color:var( --e-global-color-07ed730 );}.elementor-23125 .elementor-element.elementor-element-9b456a7{text-align:center;}.elementor-23125 .elementor-element.elementor-element-9b456a7 .elementor-heading-title{color:var( --e-global-color-07ed730 );font-size:48px;font-weight:700;}.elementor-23125 .elementor-element.elementor-element-9b456a7 > .elementor-widget-container{margin:10px 250px 0px 250px;padding:0px 0px 0px 0px;}.elementor-23125 .elementor-element.elementor-element-8a698b6{text-align:right;z-index:-1;top:362px;}.elementor-23125 .elementor-element.elementor-element-8a698b6 img{width:27%;}body:not(.rtl) .elementor-23125 .elementor-element.elementor-element-8a698b6{right:0px;}body.rtl .elementor-23125 .elementor-element.elementor-element-8a698b6{left:0px;}.elementor-23125 .elementor-element.elementor-element-f107cfc{text-align:left;z-index:-1;top:259px;}.elementor-23125 .elementor-element.elementor-element-f107cfc img{width:18%;}body:not(.rtl) .elementor-23125 .elementor-element.elementor-element-f107cfc{left:0px;}body.rtl .elementor-23125 .elementor-element.elementor-element-f107cfc{right:0px;}.elementor-23125 .elementor-element.elementor-element-8507f5d > .elementor-container{max-width:970px;}.elementor-23125 .elementor-element.elementor-element-8507f5d{overflow:hidden;margin-top:15px;margin-bottom:0px;}.elementor-23125 .elementor-element.elementor-element-35a6941 img{width:970px;}.elementor-23125 .elementor-element.elementor-element-35a6941 .widget-image-caption{text-align:right;color:var( --e-global-color-6b6edd0 );font-size:12px;font-weight:400;font-style:normal;line-height:21px;}.elementor-23125 .elementor-element.elementor-element-597a29a{text-align:left;bottom:72px;}body:not(.rtl) .elementor-23125 .elementor-element.elementor-element-597a29a{left:-21px;}body.rtl .elementor-23125 .elementor-element.elementor-element-597a29a{right:-21px;}.elementor-23125 .elementor-element.elementor-element-8063b59{margin-top:96px;margin-bottom:128px;padding:0px 0px 0px 0px;}.elementor-23125 .elementor-element.elementor-element-c37980c .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Adrianna", Sans-serif;font-size:34px;font-weight:700;}.elementor-23125 .elementor-element.elementor-element-c37980c > .elementor-widget-container{margin:2% 2% 2% 0%;}.elementor-23125 .elementor-element.elementor-element-d9e8553 .anwp-pg-widget-header__secondary-line{background-color:#61CE70;}.elementor-23125 .elementor-element.elementor-element-d9e8553.anwp-pg-widget-header-style--b .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-23125 .elementor-element.elementor-element-d9e8553.anwp-pg-widget-header-style--c .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-23125 .elementor-element.elementor-element-d9e8553 .anwp-pg-widget-header{margin-bottom:15px;}.elementor-23125 .elementor-element.elementor-element-d9e8553.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-23125 .elementor-element.elementor-element-d9e8553.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-23125 .elementor-element.elementor-element-d9e8553.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-23125 .elementor-element.elementor-element-d9e8553.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-23125 .elementor-element.elementor-element-d9e8553.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-23125 .elementor-element.elementor-element-d9e8553.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-23125 .elementor-element.elementor-element-d9e8553.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-23125 .elementor-element.elementor-element-d9e8553 .anwp-pg-classic-grid .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;color:var( --e-global-color-secondary );}.elementor-23125 .elementor-element.elementor-element-d9e8553 .anwp-pg-classic-grid .anwp-pg-post-teaser__content{background-color:#FFFFFF !important;}.elementor-23125 .elementor-element.elementor-element-d9e8553 .anwp-pg-post-teaser__title a{font-family:"Adrianna", Sans-serif;font-size:16px;color:var( --e-global-color-text );}.elementor-23125 .elementor-element.elementor-element-d9e8553 .anwp-pg-post-teaser__bottom-meta{margin-top:-5px;margin-bottom:-5px;}@media(min-width:768px){.elementor-23125 .elementor-element.elementor-element-202305d{width:10.031%;}.elementor-23125 .elementor-element.elementor-element-840f724{width:79.502%;}.elementor-23125 .elementor-element.elementor-element-02db503{width:10.131%;}}@media(max-width:767px){.elementor-23125 .elementor-element.elementor-element-a1bf55b{line-height:16px;}.elementor-23125 .elementor-element.elementor-element-9b456a7 .elementor-heading-title{font-size:28px;line-height:28px;}.elementor-23125 .elementor-element.elementor-element-9b456a7 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-23125 .elementor-element.elementor-element-597a29a img{width:37px;}.elementor-23125 .elementor-element.elementor-element-597a29a > .elementor-widget-container{margin:0px 0px 0px 0px;}body:not(.rtl) .elementor-23125 .elementor-element.elementor-element-597a29a{left:-3px;}body.rtl .elementor-23125 .elementor-element.elementor-element-597a29a{right:-3px;}.elementor-23125 .elementor-element.elementor-element-330dea3a{text-align:left;}.elementor-23125 .elementor-element.elementor-element-8063b59{margin-top:32px;margin-bottom:56px;}.elementor-23125 .elementor-element.elementor-element-c37980c{text-align:left;}.elementor-23125 .elementor-element.elementor-element-c37980c .elementor-heading-title{font-size:22px;letter-spacing:1px;word-spacing:0.2em;}.elementor-23125 .elementor-element.elementor-element-c37980c > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 4% 0% 0%;}}/* Start custom CSS for anwp-pg-classic-grid, class: .elementor-element-d9e8553 */.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__category-wrapper span{
  color: #F39E3D;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__category-wrapper span{
  color: #1A00DE;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__category-wrapper span{
  color: #F2A4B1;
}

.read-more-grid.anwp-pg-read-more__btn{
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 16px !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__bottom-meta{
    margin-top: 25px !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+1) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #F39E3D;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+2) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #F2A4B1;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+3) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #1A00DE;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__content{
    border: none !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: 700;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__top-meta{
    top: 104% !important;
    left: -3% !important;
    
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__thumbnail{
    overflow: visible !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__title{
    margin: 30px 0px 0px 2px !important;
    text-align: left !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Demibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-DemiboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ExtraboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */