.elementor-20803 .elementor-element.elementor-element-7f1c2fe > .elementor-container{max-width:1228px;min-height:130px;}.elementor-20803 .elementor-element.elementor-element-7f1c2fe:not(.elementor-motion-effects-element-type-background), .elementor-20803 .elementor-element.elementor-element-7f1c2fe > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-20803 .elementor-element.elementor-element-7f1c2fe{border-style:solid;border-width:1px 0px 0px 0px;border-color:#FFFFFF;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;z-index:3;}.elementor-20803 .elementor-element.elementor-element-7f1c2fe > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-20803 .elementor-element.elementor-element-b839178.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-20803 .elementor-element.elementor-element-b839178.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-20803 .elementor-element.elementor-element-b839178.elementor-column > .elementor-widget-wrap{justify-content:flex-end;}.elementor-20803 .elementor-element.elementor-element-b839178 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-20803 .elementor-element.elementor-element-b839178 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-20803 .elementor-element.elementor-element-de7e5b2{text-align:center;color:#FFFFFF;font-family:"Magicline", Sans-serif;font-size:32px;line-height:36px;}.elementor-20803 .elementor-element.elementor-element-de7e5b2 > .elementor-widget-container{margin:0px 0px -10px 0px;--e-transform-rotateZ:-6deg;}.elementor-bc-flex-widget .elementor-20803 .elementor-element.elementor-element-372ab75.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-20803 .elementor-element.elementor-element-372ab75.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-20803 .elementor-element.elementor-element-372ab75.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-20803 .elementor-element.elementor-element-372ab75 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-20803 .elementor-element.elementor-element-372ab75 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-20803 .elementor-element.elementor-element-52e9f7d{color:#FFFFFF;font-size:18px;}.elementor-20803 .elementor-element.elementor-element-52e9f7d > .elementor-widget-container{margin:0px 0px -18px 34px;}.elementor-bc-flex-widget .elementor-20803 .elementor-element.elementor-element-d102277.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-20803 .elementor-element.elementor-element-d102277.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-20803 .elementor-element.elementor-element-d102277 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-20803 .elementor-element.elementor-element-d102277 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-20803 .elementor-element.elementor-element-c7742aa .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-20803 .elementor-element.elementor-element-c7742aa .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-20803 .elementor-element.elementor-element-c7742aa .elementor-button{font-family:"Adrianna", Sans-serif;font-size:16px;font-weight:600;fill:#FFFFFF;color:#FFFFFF;background-color:var( --e-global-color-07ed730 );border-radius:40px 40px 40px 40px;padding:17px 30px 17px 30px;}.elementor-20803 .elementor-element.elementor-element-c7742aa .elementor-button:hover, .elementor-20803 .elementor-element.elementor-element-c7742aa .elementor-button:focus{color:#FFFFFF;background-color:var( --e-global-color-647f466 );}.elementor-20803 .elementor-element.elementor-element-c7742aa .elementor-button:hover svg, .elementor-20803 .elementor-element.elementor-element-c7742aa .elementor-button:focus svg{fill:#FFFFFF;}.elementor-20803 .elementor-element.elementor-element-c7742aa > .elementor-widget-container{margin:0px 032px 0px 0px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-20803 .elementor-element.elementor-element-20b62ee.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-20803 .elementor-element.elementor-element-20b62ee.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-20803 .elementor-element.elementor-element-20b62ee.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-20803 .elementor-element.elementor-element-20b62ee > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-20803 .elementor-element.elementor-element-20b62ee > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-20803 .elementor-element.elementor-element-a68863b .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-20803 .elementor-element.elementor-element-a68863b .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-20803 .elementor-element.elementor-element-a68863b .elementor-button{font-family:"Adrianna", Sans-serif;font-size:16px;font-weight:600;fill:#FFFFFF;color:#FFFFFF;background-color:var( --e-global-color-647f466 );border-radius:40px 40px 40px 40px;padding:17px 30px 17px 30px;}.elementor-20803 .elementor-element.elementor-element-a68863b .elementor-button:hover, .elementor-20803 .elementor-element.elementor-element-a68863b .elementor-button:focus{color:#FFFFFF;background-color:var( --e-global-color-secondary );}.elementor-20803 .elementor-element.elementor-element-a68863b .elementor-button:hover svg, .elementor-20803 .elementor-element.elementor-element-a68863b .elementor-button:focus svg{fill:#FFFFFF;}.elementor-20803 .elementor-element.elementor-element-a68863b > .elementor-widget-container{margin:0px 032px 0px 0px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-20803 .elementor-element.elementor-element-badf287.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-20803 .elementor-element.elementor-element-badf287.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-20803 .elementor-element.elementor-element-badf287.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-20803 .elementor-element.elementor-element-badf287 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-20803 .elementor-element.elementor-element-badf287 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-20803 .elementor-element.elementor-element-aac141c .elementor-heading-title{color:#FFFFFF;font-size:16px;font-weight:600;}.elementor-20803 .elementor-element.elementor-element-32f09e3 .elementor-icon-wrapper{text-align:right;}.elementor-20803 .elementor-element.elementor-element-32f09e3 .elementor-icon{font-size:20px;}.elementor-20803 .elementor-element.elementor-element-32f09e3 .elementor-icon i, .elementor-20803 .elementor-element.elementor-element-32f09e3 .elementor-icon svg{transform:rotate(0deg);}.elementor-20803 .elementor-element.elementor-element-32f09e3 > .elementor-widget-container{margin:-18px -15px 0px 0px;}.elementor-20803 .elementor-element.elementor-element-32f09e3{z-index:-1;width:100%;max-width:100%;}#elementor-popup-modal-20803 .dialog-message{width:100vw;height:auto;}#elementor-popup-modal-20803{justify-content:center;align-items:flex-end;}@media(max-width:767px){.elementor-20803 .elementor-element.elementor-element-32f09e3 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-20803 .elementor-element.elementor-element-b839178{width:19.707%;}.elementor-20803 .elementor-element.elementor-element-372ab75{width:39.169%;}.elementor-20803 .elementor-element.elementor-element-d102277{width:16.694%;}.elementor-20803 .elementor-element.elementor-element-20b62ee{width:15.006%;}.elementor-20803 .elementor-element.elementor-element-badf287{width:9.364%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Magicline';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Magicline.woff') format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Demibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-DemiboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ExtraboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */