.elementor-20810 .elementor-element.elementor-element-3d94c69 > .elementor-container{min-height:272px;}.elementor-20810 .elementor-element.elementor-element-3d94c69:not(.elementor-motion-effects-element-type-background), .elementor-20810 .elementor-element.elementor-element-3d94c69 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-20810 .elementor-element.elementor-element-3d94c69{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-20810 .elementor-element.elementor-element-3d94c69 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-20810 .elementor-element.elementor-element-3c137fe > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-20810 .elementor-element.elementor-element-3c137fe > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-20810 .elementor-element.elementor-element-b805037 .elementor-button .elementor-align-icon-right{margin-left:7px;}.elementor-20810 .elementor-element.elementor-element-b805037 .elementor-button .elementor-align-icon-left{margin-right:7px;}.elementor-20810 .elementor-element.elementor-element-b805037 .elementor-button{font-size:16px;font-weight:600;fill:#FFFFFF;color:#FFFFFF;background-color:var( --e-global-color-primary );}.elementor-20810 .elementor-element.elementor-element-b805037{z-index:4;}.elementor-20810 .elementor-element.elementor-element-9d1db85{text-align:center;}.elementor-20810 .elementor-element.elementor-element-9d1db85 .elementor-heading-title{color:#FFFFFF;font-size:36px;font-weight:700;}.elementor-20810 .elementor-element.elementor-element-9d1db85 > .elementor-widget-container{margin:-20px 0px 0px 0px;}.elementor-20810 .elementor-element.elementor-element-9020dfe{text-align:center;color:#FFFFFF;font-size:18px;}.elementor-20810 .elementor-element.elementor-element-9020dfe > .elementor-widget-container{margin:16px 170px 0px 170px;}.elementor-20810 .elementor-element.elementor-element-1f594e1{margin-top:12px;margin-bottom:0px;}.elementor-20810 .elementor-element.elementor-element-0bd3bd2 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-20810 .elementor-element.elementor-element-c9f5435 .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-20810 .elementor-element.elementor-element-c9f5435 .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-20810 .elementor-element.elementor-element-c9f5435 .elementor-button{font-family:"Adrianna", Sans-serif;font-size:16px;font-weight:600;fill:#FFFFFF;color:#FFFFFF;background-color:var( --e-global-color-647f466 );border-radius:40px 40px 40px 40px;padding:17px 30px 17px 30px;}.elementor-20810 .elementor-element.elementor-element-c9f5435 .elementor-button:hover, .elementor-20810 .elementor-element.elementor-element-c9f5435 .elementor-button:focus{color:#FFFFFF;background-color:var( --e-global-color-secondary );}.elementor-20810 .elementor-element.elementor-element-c9f5435 .elementor-button:hover svg, .elementor-20810 .elementor-element.elementor-element-c9f5435 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-20810 .elementor-element.elementor-element-c9f5435 > .elementor-widget-container{margin:0px 12px 0px 0px;padding:0px 0px 0px 0px;}.elementor-20810 .elementor-element.elementor-element-de8b379 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-20810 .elementor-element.elementor-element-d48f961 .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-20810 .elementor-element.elementor-element-d48f961 .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-20810 .elementor-element.elementor-element-d48f961 .elementor-button{font-family:"Adrianna", Sans-serif;font-size:16px;font-weight:600;fill:#FFFFFF;color:#FFFFFF;background-color:var( --e-global-color-07ed730 );border-radius:40px 40px 40px 40px;padding:17px 30px 17px 30px;}.elementor-20810 .elementor-element.elementor-element-d48f961 .elementor-button:hover, .elementor-20810 .elementor-element.elementor-element-d48f961 .elementor-button:focus{color:#FFFFFF;background-color:var( --e-global-color-647f466 );}.elementor-20810 .elementor-element.elementor-element-d48f961 .elementor-button:hover svg, .elementor-20810 .elementor-element.elementor-element-d48f961 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-20810 .elementor-element.elementor-element-d48f961 > .elementor-widget-container{margin:0px 0px 0px 12px;padding:0px 0px 0px 0px;}.elementor-20810 .elementor-element.elementor-element-82acb3f > .elementor-container{min-height:437px;}.elementor-20810 .elementor-element.elementor-element-82acb3f:not(.elementor-motion-effects-element-type-background), .elementor-20810 .elementor-element.elementor-element-82acb3f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-20810 .elementor-element.elementor-element-82acb3f{border-style:solid;border-width:0px 1px 1px 1px;border-color:var( --e-global-color-647f466 );transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-20810 .elementor-element.elementor-element-82acb3f, .elementor-20810 .elementor-element.elementor-element-82acb3f > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-20810 .elementor-element.elementor-element-82acb3f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-20810 .elementor-element.elementor-element-f3d9943.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-20810 .elementor-element.elementor-element-f3d9943.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-20810 .elementor-element.elementor-element-f3d9943 > .elementor-element-populated{margin:40px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-20810 .elementor-element.elementor-element-229542c > .elementor-widget-container{margin:0px 0px 0px 40px;}.elementor-20810 .elementor-element.elementor-element-9c63465 .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-20810 .elementor-element.elementor-element-9c63465 .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-20810 .elementor-element.elementor-element-9c63465 .elementor-button{font-family:"Adrianna", Sans-serif;font-size:16px;font-weight:600;fill:#FFFFFF;color:#FFFFFF;background-color:var( --e-global-color-primary );border-radius:40px 40px 40px 40px;padding:17px 30px 17px 30px;}.elementor-20810 .elementor-element.elementor-element-9c63465 .elementor-button:hover, .elementor-20810 .elementor-element.elementor-element-9c63465 .elementor-button:focus{color:#FFFFFF;background-color:var( --e-global-color-07ed730 );}.elementor-20810 .elementor-element.elementor-element-9c63465 .elementor-button:hover svg, .elementor-20810 .elementor-element.elementor-element-9c63465 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-20810 .elementor-element.elementor-element-9c63465 > .elementor-widget-container{margin:0px 12px 0px 0px;padding:0px 0px 0px 0px;}#elementor-popup-modal-20810 .dialog-message{width:1000px;height:710px;align-items:flex-start;}#elementor-popup-modal-20810{justify-content:center;align-items:center;}#elementor-popup-modal-20810 .dialog-widget-content{box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}/* Start custom CSS for section, class: .elementor-element-99492c0 */.elementor-20810 .elementor-element.elementor-element-99492c0{
    display: none;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-b805037 */.elementor-20810 .elementor-element.elementor-element-b805037 svg{
    margin-top: 1px;
    width: 13px;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-c9f5435 */.elementor-20810 .elementor-element.elementor-element-c9f5435 a{
    width: 175px
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-d48f961 */.elementor-20810 .elementor-element.elementor-element-d48f961 a{
    width: 175px
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-229542c */.elementor-20810 .elementor-element.elementor-element-229542c .def-div label{
    margin-left: 17px;
    font-size: 16px;
    color: #0A0055;
    line-height: 20px;
}

.elementor-20810 .elementor-element.elementor-element-229542c .def-div{
    margin-bottom: 40px;
}

.elementor-20810 .elementor-element.elementor-element-229542c .cb-div label{
    margin-left: 17px;
    margin-bottom: 8px;
    color: #F2A4B1;
    font-weight: 700;
    font-size: 24px;
}

.elementor-20810 .elementor-element.elementor-element-229542c p{
    font-size: 16px;
    color: #0A0055;
    line-height: 16px;
}

.elementor-20810 .elementor-element.elementor-element-229542c .cb-div a{
    text-decoration: underline;
    font-size: 16px;
    color: #0A0055;
    font-weight: 600;
}

.elementor-20810 .elementor-element.elementor-element-229542c .cb-div input{
    transform: translateY(-2px);
    accent-color: #F2A4B1;
    border: 2px solid #bcbcbc;
}

.elementor-20810 .elementor-element.elementor-element-229542c .div-gtm{
    margin-bottom: 40px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-f3d9943 */.elementor-20810 .elementor-element.elementor-element-f3d9943{
    height: 400px;
}/* End custom CSS */
/* Start custom CSS */#elementor-popup-modal-20810 .dialog-widget-content:before{
    position: absolute;
    content: "";
    width: 1000px;
    height: 710px;
    margin-left: 8px;
    margin-top: 8px;
    background-color: #F2A4B1;
}

#elementor-popup-modal-20810 .dialog-widget-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.popup-close{
        backdrop-filter: blur(10px);

}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Demibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-DemiboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ExtraboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */