.elementor-38 .elementor-element.elementor-element-fc1f80d > .elementor-container{max-width:1246px;}.elementor-38 .elementor-element.elementor-element-fc1f80d{margin-top:50px;margin-bottom:0px;}.elementor-38 .elementor-element.elementor-element-c4ccb35 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-38 .elementor-element.elementor-element-6e5678d{font-size:12px;font-weight:300;color:#0A0055B0;}.elementor-38 .elementor-element.elementor-element-6e5678d a{color:var( --e-global-color-text );}.elementor-38 .elementor-element.elementor-element-6e5678d > .elementor-widget-container{margin:0px 0px 31px 0px;}.elementor-38 .elementor-element.elementor-element-ffc8cfd .elementor-heading-title{color:var( --e-global-color-text );font-size:48px;font-weight:700;}.elementor-38 .elementor-element.elementor-element-ffc8cfd > .elementor-widget-container{margin:0px 0px 31px 0px;}.elementor-38 .elementor-element.elementor-element-1e7b782{font-size:18px;}.elementor-38 .elementor-element.elementor-element-5a0d54b{z-index:-1;width:initial;max-width:initial;top:-114px;}body:not(.rtl) .elementor-38 .elementor-element.elementor-element-5a0d54b{right:0px;}body.rtl .elementor-38 .elementor-element.elementor-element-5a0d54b{left:0px;}.elementor-38 .elementor-element.elementor-element-1f12b304 > .elementor-container{max-width:1246px;}.elementor-38 .elementor-element.elementor-element-294afd39{z-index:2;}.elementor-38 .elementor-element.elementor-element-632c4cae img{width:450px;}.elementor-38 .elementor-element.elementor-element-632c4cae > .elementor-widget-container{margin:-40px 0px 0px 0px;}.elementor-38 .elementor-element.elementor-element-632c4cae{z-index:1;}.elementor-38 .elementor-element.elementor-element-4fcfa66 img{width:182px;}.elementor-38 .elementor-element.elementor-element-4fcfa66{z-index:-1;width:initial;max-width:initial;bottom:0px;}.elementor-38 .elementor-element.elementor-element-4fcfa66 > .elementor-widget-container{--e-transform-rotateZ:9deg;}body:not(.rtl) .elementor-38 .elementor-element.elementor-element-4fcfa66{left:-103px;}body.rtl .elementor-38 .elementor-element.elementor-element-4fcfa66{right:-103px;}.elementor-38 .elementor-element.elementor-element-6c92fecb .elementor-spacer-inner{height:50px;}.elementor-38 .elementor-element.elementor-element-6c92fecb{z-index:2;width:113px;max-width:113px;top:184px;}.elementor-38 .elementor-element.elementor-element-6c92fecb > .elementor-widget-container{--e-transform-rotateZ:-1deg;background-color:var( --e-global-color-primary );}body:not(.rtl) .elementor-38 .elementor-element.elementor-element-6c92fecb{left:31px;}body.rtl .elementor-38 .elementor-element.elementor-element-6c92fecb{right:31px;}.elementor-38 .elementor-element.elementor-element-12edb05d .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Magicline", Sans-serif;font-size:45px;}.elementor-38 .elementor-element.elementor-element-12edb05d > .elementor-widget-container{margin:-25px 0px 0px 0px;}.elementor-38 .elementor-element.elementor-element-12edb05d{z-index:3;top:213px;}body:not(.rtl) .elementor-38 .elementor-element.elementor-element-12edb05d{left:42px;}body.rtl .elementor-38 .elementor-element.elementor-element-12edb05d{right:42px;}.elementor-38 .elementor-element.elementor-element-3d9e8168{margin-top:96px;margin-bottom:128px;padding:0px 0px 0px 0px;}.elementor-38 .elementor-element.elementor-element-26008e7c .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Adrianna", Sans-serif;font-size:34px;font-weight:700;}.elementor-38 .elementor-element.elementor-element-26008e7c > .elementor-widget-container{margin:2% 2% 2% 0%;}.elementor-38 .elementor-element.elementor-element-5feaa07b .anwp-pg-widget-header__secondary-line{background-color:#61CE70;}.elementor-38 .elementor-element.elementor-element-5feaa07b.anwp-pg-widget-header-style--b .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-38 .elementor-element.elementor-element-5feaa07b.anwp-pg-widget-header-style--c .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-38 .elementor-element.elementor-element-5feaa07b .anwp-pg-widget-header{margin-bottom:15px;}.elementor-38 .elementor-element.elementor-element-5feaa07b.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-38 .elementor-element.elementor-element-5feaa07b.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-38 .elementor-element.elementor-element-5feaa07b.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-38 .elementor-element.elementor-element-5feaa07b.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-38 .elementor-element.elementor-element-5feaa07b.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-38 .elementor-element.elementor-element-5feaa07b.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-38 .elementor-element.elementor-element-5feaa07b.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-38 .elementor-element.elementor-element-5feaa07b .anwp-pg-classic-grid .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;color:var( --e-global-color-secondary );}.elementor-38 .elementor-element.elementor-element-5feaa07b .anwp-pg-classic-grid .anwp-pg-post-teaser__content{background-color:#FFFFFF !important;}.elementor-38 .elementor-element.elementor-element-5feaa07b .anwp-pg-post-teaser__title a{font-family:"Adrianna", Sans-serif;font-size:16px;color:var( --e-global-color-text );}.elementor-38 .elementor-element.elementor-element-5feaa07b .anwp-pg-post-teaser__bottom-meta{margin-top:-5px;margin-bottom:-5px;}@media(min-width:768px){.elementor-38 .elementor-element.elementor-element-9bef779{width:10.031%;}.elementor-38 .elementor-element.elementor-element-79dd9272{width:79.502%;}.elementor-38 .elementor-element.elementor-element-27ded38a{width:10.131%;}}@media(max-width:767px){.elementor-38 .elementor-element.elementor-element-fc1f80d{margin-top:0px;margin-bottom:0px;}.elementor-38 .elementor-element.elementor-element-c4ccb35 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-38 .elementor-element.elementor-element-ffc8cfd .elementor-heading-title{font-size:28px;}.elementor-38 .elementor-element.elementor-element-ffc8cfd > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-38 .elementor-element.elementor-element-1e7b782{font-size:16px;}.elementor-38 .elementor-element.elementor-element-1e7b782 > .elementor-widget-container{margin:24px 0px 0px 0px;}.elementor-38 .elementor-element.elementor-element-1f12b304{margin-top:-20px;margin-bottom:0px;}.elementor-38 .elementor-element.elementor-element-632c4cae img{width:240px;}.elementor-38 .elementor-element.elementor-element-6c92fecb .elementor-spacer-inner{height:28px;}.elementor-38 .elementor-element.elementor-element-6c92fecb{width:69px;max-width:69px;top:106px;}body:not(.rtl) .elementor-38 .elementor-element.elementor-element-6c92fecb{left:43px;}body.rtl .elementor-38 .elementor-element.elementor-element-6c92fecb{right:43px;}.elementor-38 .elementor-element.elementor-element-12edb05d .elementor-heading-title{font-size:22px;line-height:37px;}.elementor-38 .elementor-element.elementor-element-12edb05d{width:170px;max-width:170px;top:127px;}body:not(.rtl) .elementor-38 .elementor-element.elementor-element-12edb05d{left:52px;}body.rtl .elementor-38 .elementor-element.elementor-element-12edb05d{right:52px;}.elementor-38 .elementor-element.elementor-element-3d9e8168{margin-top:32px;margin-bottom:56px;}.elementor-38 .elementor-element.elementor-element-26008e7c{text-align:left;}.elementor-38 .elementor-element.elementor-element-26008e7c .elementor-heading-title{font-size:22px;letter-spacing:1px;word-spacing:0.2em;}.elementor-38 .elementor-element.elementor-element-26008e7c > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 4% 0% 0%;}}/* Start custom CSS for text-editor, class: .elementor-element-570ec8d0 */.elementor-38 .elementor-element.elementor-element-570ec8d0{
    margin-top: 35px;
    color: #0A0055;
}

.elementor-38 .elementor-element.elementor-element-570ec8d0 .grunion-field-label{
    color:#0A0055;
    font-weight: 500;
    padding-bottom: 5px;
}

.elementor-38 .elementor-element.elementor-element-570ec8d0 input, .elementor-38 .elementor-element.elementor-element-570ec8d0 select, .elementor-38 .elementor-element.elementor-element-570ec8d0 textarea{
    border-color: #0A0055;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #0A0055;
}

.elementor-38 .elementor-element.elementor-element-570ec8d0 input, .elementor-38 .elementor-element.elementor-element-570ec8d0 select{
    width: 290px;
}

.elementor-38 .elementor-element.elementor-element-570ec8d0 form :nth-of-type(2),.elementor-38 .elementor-element.elementor-element-570ec8d0 form :nth-of-type(4){
    margin-top: -94px;
    float: right;
}

.elementor-38 .elementor-element.elementor-element-570ec8d0 button{
    margin-top: 50px;
    color: white;
    background: #F39E3D;
    border-radius: 40px;
    border: none;
    width: 138px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Adrianna';
}

.elementor-38 .elementor-element.elementor-element-570ec8d0 button:hover{
    background-color: #F2A4B1;    
}

.elementor-38 .elementor-element.elementor-element-570ec8d0 textarea{
    margin-bottom: 8px;
}

.elementor-38 .elementor-element.elementor-element-570ec8d0 .grunion-field-wrap span{
    display: none;
}

.elementor-38 .elementor-element.elementor-element-570ec8d0 .grunion-field-label.textarea{
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    .elementor-38 .elementor-element.elementor-element-570ec8d0 form :nth-of-type(2),.elementor-38 .elementor-element.elementor-element-570ec8d0 form :nth-of-type(4){
    margin-top: 0px;
    float: left;
}

.elementor-38 .elementor-element.elementor-element-570ec8d0 .grunion-field-label, .elementor-38 .elementor-element.elementor-element-570ec8d0 select{
    width: 90vw;
}

.elementor-38 .elementor-element.elementor-element-570ec8d0 button{
    margin-top:20px;
}
}/* End custom CSS */
/* Start custom CSS for anwp-pg-classic-grid, class: .elementor-element-5feaa07b */.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__category-wrapper span{
  color: #F39E3D;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__category-wrapper span{
  color: #1A00DE;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__category-wrapper span{
  color: #F2A4B1;
}

.read-more-grid.anwp-pg-read-more__btn{
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 16px !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__bottom-meta{
    margin-top: 25px !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+1) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #F39E3D;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+2) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #F2A4B1;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+3) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #1A00DE;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__content{
    border: none !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: 700;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__top-meta{
    top: 104% !important;
    left: -3% !important;
    
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__thumbnail{
    overflow: visible !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__title{
    margin: 30px 0px 0px 2px !important;
    text-align: left !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Magicline';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Magicline.woff') format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Demibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-DemiboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ExtraboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */