.elementor-3994 .elementor-element.elementor-element-300e0f9{text-align:justify;}.elementor-bc-flex-widget .elementor-3994 .elementor-element.elementor-element-4315c7e.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-3994 .elementor-element.elementor-element-4315c7e.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-3994 .elementor-element.elementor-element-0fc0a2e .elementor-heading-title{color:var( --e-global-color-text );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-size:var( --e-global-typography-accent-font-size );font-weight:var( --e-global-typography-accent-font-weight );text-transform:var( --e-global-typography-accent-text-transform );font-style:var( --e-global-typography-accent-font-style );line-height:var( --e-global-typography-accent-line-height );letter-spacing:var( --e-global-typography-accent-letter-spacing );}.elementor-3994 .elementor-element.elementor-element-0fc0a2e > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3994 .elementor-element.elementor-element-d77927c{text-align:justify;}.elementor-3994 .elementor-element.elementor-element-cbe82aa > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-3994 .elementor-element.elementor-element-80e7883 > .elementor-container{min-height:266px;}.elementor-3994 .elementor-element.elementor-element-80e7883:not(.elementor-motion-effects-element-type-background), .elementor-3994 .elementor-element.elementor-element-80e7883 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-3994 .elementor-element.elementor-element-80e7883{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-3994 .elementor-element.elementor-element-80e7883 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-3994 .elementor-element.elementor-element-8f64496{text-align:center;color:#F2A4B1;font-family:"Adrianna", Sans-serif;font-size:32px;font-weight:700;}.elementor-3994 .elementor-element.elementor-element-8f64496 > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-3994 .elementor-element.elementor-element-ced421a{text-align:center;color:#FFFFFF;font-family:"Adrianna", Sans-serif;font-size:18px;font-weight:500;line-height:28px;}.elementor-3994 .elementor-element.elementor-element-659c4c4 .elementor-button{font-size:16px;font-weight:500;fill:var( --e-global-color-primary );color:var( --e-global-color-primary );background-color:#FFFFFF;border-radius:70px 70px 70px 70px;}.elementor-3994 .elementor-element.elementor-element-659c4c4 > .elementor-widget-container{margin:-20px 0px 20px 0px;}.elementor-3994 .elementor-element.elementor-element-659c4c4{z-index:2;}body:not(.rtl) .elementor-3994 .elementor-element.elementor-element-ad004e0{left:-192px;}body.rtl .elementor-3994 .elementor-element.elementor-element-ad004e0{right:-192px;}.elementor-3994 .elementor-element.elementor-element-ad004e0{top:104px;}body:not(.rtl) .elementor-3994 .elementor-element.elementor-element-17ac55b{left:234px;}body.rtl .elementor-3994 .elementor-element.elementor-element-17ac55b{right:234px;}.elementor-3994 .elementor-element.elementor-element-17ac55b{top:-14px;}.elementor-3994 .elementor-element.elementor-element-cca3d10 > .elementor-container{min-height:500px;}.elementor-3994 .elementor-element.elementor-element-cca3d10{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-3994 .elementor-element.elementor-element-cca3d10:not(.elementor-motion-effects-element-type-background), .elementor-3994 .elementor-element.elementor-element-cca3d10 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-accent );}.elementor-3994 .elementor-element.elementor-element-cca3d10 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-3994 .elementor-element.elementor-element-f5fedd1 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-3994 .elementor-element.elementor-element-b91a650 .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Adrianna", Sans-serif;font-size:34px;font-weight:700;}.elementor-3994 .elementor-element.elementor-element-b91a650 > .elementor-widget-container{margin:-0px 0px 0px 190px;padding:30px 0px 30px 0px;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa .anwp-pg-widget-header{margin-bottom:15px;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa .anwp-pg-classic-slider .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;color:var( --e-global-color-secondary );}.elementor-3994 .elementor-element.elementor-element-1d6d7aa .anwp-pg-classic-slider .anwp-pg-post-teaser__content{background-color:#FFFEFE !important;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa .anwp-pg-post-teaser__title a{font-family:"Adrianna", Sans-serif;font-size:16px;color:var( --e-global-color-text );}.elementor-3994 .elementor-element.elementor-element-1d6d7aa .anwp-pg-post-teaser__bottom-meta{margin-top:5px;margin-bottom:5px;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa .elementor-swiper-button.elementor-swiper-button-prev, .elementor-3994 .elementor-element.elementor-element-1d6d7aa .elementor-swiper-button.elementor-swiper-button-next{color:#FFFFFF;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa > .elementor-widget-container{margin:0px -50px 0px 160px;}.elementor-3994 .elementor-element.elementor-element-fcfefcf{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-3994 .elementor-element.elementor-element-dbfdf46 .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Adrianna", Sans-serif;font-size:34px;font-weight:700;}.elementor-3994 .elementor-element.elementor-element-dbfdf46 > .elementor-widget-container{margin:2% 2% 2% 0%;}.elementor-3994 .elementor-element.elementor-element-adeccec .anwp-pg-widget-header__secondary-line{background-color:#61CE70;}.elementor-3994 .elementor-element.elementor-element-adeccec.anwp-pg-widget-header-style--b .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-3994 .elementor-element.elementor-element-adeccec.anwp-pg-widget-header-style--c .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-3994 .elementor-element.elementor-element-adeccec .anwp-pg-widget-header{margin-bottom:15px;}.elementor-3994 .elementor-element.elementor-element-adeccec.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-3994 .elementor-element.elementor-element-adeccec.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-3994 .elementor-element.elementor-element-adeccec.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-3994 .elementor-element.elementor-element-adeccec.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-3994 .elementor-element.elementor-element-adeccec.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-3994 .elementor-element.elementor-element-adeccec.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-3994 .elementor-element.elementor-element-adeccec.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-3994 .elementor-element.elementor-element-adeccec .anwp-pg-classic-grid .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;color:var( --e-global-color-secondary );}.elementor-3994 .elementor-element.elementor-element-adeccec .anwp-pg-classic-grid .anwp-pg-post-teaser__content{background-color:#FFFFFF !important;}.elementor-3994 .elementor-element.elementor-element-adeccec .anwp-pg-post-teaser__title a{font-family:"Adrianna", Sans-serif;font-size:16px;color:var( --e-global-color-text );}.elementor-3994 .elementor-element.elementor-element-adeccec .anwp-pg-post-teaser__bottom-meta{margin-top:-5px;margin-bottom:-5px;}@media(min-width:768px){.elementor-3994 .elementor-element.elementor-element-55ffedc{width:19.367%;}.elementor-3994 .elementor-element.elementor-element-cbe82aa{width:59.318%;}.elementor-3994 .elementor-element.elementor-element-a86dbbc{width:12.42%;}.elementor-3994 .elementor-element.elementor-element-926c897{width:71.52%;}.elementor-3994 .elementor-element.elementor-element-562331d{width:12.452%;}.elementor-3994 .elementor-element.elementor-element-ffc98b7{width:20.979%;}.elementor-3994 .elementor-element.elementor-element-fa82133{width:10.031%;}.elementor-3994 .elementor-element.elementor-element-17d4c42{width:79.502%;}.elementor-3994 .elementor-element.elementor-element-42d8766{width:10.131%;}}@media(max-width:1024px){.elementor-3994 .elementor-element.elementor-element-0fc0a2e .elementor-heading-title{font-size:var( --e-global-typography-accent-font-size );line-height:var( --e-global-typography-accent-line-height );letter-spacing:var( --e-global-typography-accent-letter-spacing );}}@media(max-width:767px){.elementor-3994 .elementor-element.elementor-element-300e0f9{text-align:left;}.elementor-3994 .elementor-element.elementor-element-4315c7e{width:90%;}.elementor-3994 .elementor-element.elementor-element-4315c7e > .elementor-element-populated{margin:25px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-3994 .elementor-element.elementor-element-0fc0a2e{text-align:justify;}.elementor-3994 .elementor-element.elementor-element-0fc0a2e .elementor-heading-title{font-size:var( --e-global-typography-accent-font-size );line-height:var( --e-global-typography-accent-line-height );letter-spacing:var( --e-global-typography-accent-letter-spacing );}.elementor-3994 .elementor-element.elementor-element-d77927c{text-align:left;}.elementor-3994 .elementor-element.elementor-element-80e7883 > .elementor-container{min-height:221px;}.elementor-3994 .elementor-element.elementor-element-a86dbbc{width:10%;}.elementor-3994 .elementor-element.elementor-element-926c897{width:79%;}.elementor-3994 .elementor-element.elementor-element-926c897 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:3px;}.elementor-3994 .elementor-element.elementor-element-8f64496{font-size:24px;line-height:26px;}.elementor-3994 .elementor-element.elementor-element-8f64496 > .elementor-widget-container{margin:12px 10px 0px 10px;}.elementor-3994 .elementor-element.elementor-element-ced421a{font-size:16px;line-height:21px;}.elementor-3994 .elementor-element.elementor-element-659c4c4 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-3994 .elementor-element.elementor-element-ad004e0{width:62px;max-width:62px;top:129px;}body:not(.rtl) .elementor-3994 .elementor-element.elementor-element-ad004e0{left:-18px;}body.rtl .elementor-3994 .elementor-element.elementor-element-ad004e0{right:-18px;}.elementor-3994 .elementor-element.elementor-element-17ac55b{width:50px;max-width:50px;top:-24px;}body:not(.rtl) .elementor-3994 .elementor-element.elementor-element-17ac55b{left:241px;}body.rtl .elementor-3994 .elementor-element.elementor-element-17ac55b{right:241px;}.elementor-3994 .elementor-element.elementor-element-562331d{width:10%;}.elementor-3994 .elementor-element.elementor-element-cca3d10 > .elementor-container{min-height:396px;}.elementor-3994 .elementor-element.elementor-element-cca3d10{margin-top:0px;margin-bottom:0px;}.elementor-3994 .elementor-element.elementor-element-f5fedd1 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-3994 .elementor-element.elementor-element-b91a650{text-align:left;}.elementor-3994 .elementor-element.elementor-element-b91a650 .elementor-heading-title{font-size:22px;line-height:23px;}.elementor-3994 .elementor-element.elementor-element-b91a650 > .elementor-widget-container{margin:0px 100px 0px 0px;padding:0px 0px 0px 0px;}.elementor-3994 .elementor-element.elementor-element-1d6d7aa > .elementor-widget-container{margin:0% -40% 0% -9%;}.elementor-3994 .elementor-element.elementor-element-dbfdf46{text-align:left;}.elementor-3994 .elementor-element.elementor-element-dbfdf46 .elementor-heading-title{font-size:22px;letter-spacing:1px;word-spacing:0.2em;}.elementor-3994 .elementor-element.elementor-element-dbfdf46 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 4% 0% 0%;}}/* Start custom CSS for anwp-pg-classic-slider, class: .elementor-element-1d6d7aa */.anwp-pg-classic-slider .anwp-pg-post-teaser__title{
    padding: 20px 12px 0px 12px !important;
    text-align: left !important;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 14px !important;
    text-transform: none !important;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__content{
    min-height: 140px !important;
    
}
.anwp-pg-classic-slider .anwp-pg-post-teaser__top-meta{
    top: 100% !important;
    padding: 6px 0px 0px 5px !important
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__thumbnail{
    overflow: visible !important;
}

.anwp-pg-classic-slider .eicon-chevron-left{
    position: absolute;
    top: -225px;
    left: 90vw;
    background-color: #1A00DE;
    padding: 8px 10px 8px 8px;
    border-radius: 50%;
}

.anwp-pg-classic-slider .eicon-chevron-right{
    position: absolute;
    top: -225px;
    left: -5vw;
    background-color: #1A00DE;
    padding: 8px 8px 8px 10px;
    border-radius: 50%;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser--layout-d{
    width: 350px !important;
}

.anwp-pg-classic-slider{
    overflow: hidden !important;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .anwp-pg-classic-slider .anwp-pg-post-teaser--layout-d{
    width: 250px !important;
}

.anwp-pg-classic-slider .eicon-chevron-right{
    display: none;
}

.anwp-pg-classic-slider .eicon-chevron-left{
    display: none;
}

.posts-slider-title .elementor-widget-container{
    margin: 0px 100px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#posts-slider-title .elementor-widget-container{
    margin: 0px 100px 0px 15px;
    padding: 0px 0px 0px 0px;
}

#posts-slider .elementor-widget-container{
    margin: 0% -100px 0% -15px;
}
}/* End custom CSS */
/* Start custom CSS for anwp-pg-classic-grid, class: .elementor-element-adeccec */.anwp-pg-classic-grid .anwp-pg-post-teaser__content{
    border: none !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 14px !important;
    text-transform: none !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__top-meta{
    top: 104% !important;
    left: -2% !important;
    
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__thumbnail{
    overflow: visible !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__title{
    padding: 20px 0px 0px 2px !important;
    text-align: left !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Demibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-DemiboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ExtraboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */