.elementor-16859 .elementor-element.elementor-element-fad7cda > .elementor-container{max-width:900px;}.elementor-16859 .elementor-element.elementor-element-fad7cda > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-16859 .elementor-element.elementor-element-fad7cda:not(.elementor-motion-effects-element-type-background), .elementor-16859 .elementor-element.elementor-element-fad7cda > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-16859 .elementor-element.elementor-element-fad7cda{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;z-index:1;}.elementor-16859 .elementor-element.elementor-element-fad7cda > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-16859 .elementor-element.elementor-element-8a27f85 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-16859 .elementor-element.elementor-element-8a27f85{z-index:4;}.elementor-16859 .elementor-element.elementor-element-4c5d2e4{font-family:"Adrianna", Sans-serif;font-size:12px;font-weight:400;color:#FFA69F;}.elementor-16859 .elementor-element.elementor-element-4c5d2e4 a{color:#FA7268;}.elementor-16859 .elementor-element.elementor-element-4c5d2e4 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-16859 .elementor-element.elementor-element-f1209e7{text-align:center;}.elementor-16859 .elementor-element.elementor-element-f1209e7 .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Adrianna-Regular", Sans-serif;font-size:51px;font-weight:700;text-transform:none;font-style:normal;line-height:52px;}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(0px/2);margin-left:calc(0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-0px/2);margin-left:calc(-0px/2);}body.rtl .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-0px/2);}body:not(.rtl) .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-icon{width:14px;}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-icon i{font-size:14px;}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-icon svg{--e-icon-list-icon-size:14px;}body:not(.rtl) .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-text{padding-left:0px;}body.rtl .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-text{padding-right:0px;}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-text, .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-text a{color:var( --e-global-color-secondary );}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-item{font-family:"Adrianna", Sans-serif;font-size:14px;font-weight:400;}.elementor-16859 .elementor-element.elementor-element-9f94ff3{margin-top:-10px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-16859 .elementor-element.elementor-element-e9afac8 > .elementor-element-populated{margin:0% 0% 0% 0%;--e-column-margin-right:0%;--e-column-margin-left:0%;}.elementor-16859 .elementor-element.elementor-element-8b7f79f{text-align:left;top:32px;}.elementor-16859 .elementor-element.elementor-element-8b7f79f img{width:26%;}body:not(.rtl) .elementor-16859 .elementor-element.elementor-element-8b7f79f{right:0px;}body.rtl .elementor-16859 .elementor-element.elementor-element-8b7f79f{left:0px;}.elementor-16859 .elementor-element.elementor-element-22454e8{text-align:right;top:-154px;}.elementor-16859 .elementor-element.elementor-element-22454e8 img{width:25%;}body:not(.rtl) .elementor-16859 .elementor-element.elementor-element-22454e8{right:0px;}body.rtl .elementor-16859 .elementor-element.elementor-element-22454e8{left:0px;}.elementor-16859 .elementor-element.elementor-element-8bbb448{margin-top:0%;margin-bottom:0%;}.elementor-16859 .elementor-element.elementor-element-204c49a > .elementor-element-populated{margin:0% 0% 0% 0%;--e-column-margin-right:0%;--e-column-margin-left:0%;}.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-icon{width:14px;}.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-icon i{font-size:14px;}.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-icon svg{--e-icon-list-icon-size:14px;}.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-text, .elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-text a{color:#FFFFFF;}.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-item{font-family:"Magicline", Sans-serif;font-size:32px;font-weight:400;line-height:56px;}.elementor-16859 .elementor-element.elementor-element-99f30a6 > .elementor-widget-container{margin:0% 55% -4% 0%;--e-transform-rotateZ:-5deg;}.elementor-16859 .elementor-element.elementor-element-99f30a6{z-index:2;}.elementor-16859 .elementor-element.elementor-element-198b28b{text-align:center;z-index:1;width:initial;max-width:initial;align-self:center;}.elementor-16859 .elementor-element.elementor-element-198b28b img{width:58vw;}.elementor-16859 .elementor-element.elementor-element-198b28b .widget-image-caption{text-align:left;color:var( --e-global-color-6b6edd0 );font-family:var( --e-global-typography-ec4a1f8-font-family ), Sans-serif;font-size:var( --e-global-typography-ec4a1f8-font-size );font-weight:var( --e-global-typography-ec4a1f8-font-weight );line-height:var( --e-global-typography-ec4a1f8-line-height );letter-spacing:var( --e-global-typography-ec4a1f8-letter-spacing );word-spacing:var( --e-global-typography-ec4a1f8-word-spacing );margin-top:0px;}.elementor-16859 .elementor-element.elementor-element-198b28b > .elementor-widget-container{margin:0px 0px 4px 200px;padding:0% 0% 0% 0%;}.elementor-16859 .elementor-element.elementor-element-597a896 .elementor-icon-wrapper{text-align:center;}.elementor-16859 .elementor-element.elementor-element-597a896 .elementor-icon{font-size:191px;}.elementor-16859 .elementor-element.elementor-element-597a896 .elementor-icon i, .elementor-16859 .elementor-element.elementor-element-597a896 .elementor-icon svg{transform:rotate(0deg);}.elementor-16859 .elementor-element.elementor-element-597a896 > .elementor-widget-container{margin:0% 0% 0% 0%;--e-transform-translateX:-50%;--e-transform-translateY:19%;}.elementor-16859 .elementor-element.elementor-element-597a896{z-index:2;width:initial;max-width:initial;align-self:center;}.elementor-16859 .elementor-element.elementor-element-d911e8d.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-16859 .elementor-element.elementor-element-8fcb147{font-family:"Adrianna-Regular", Sans-serif;font-size:18px;font-weight:400;font-style:normal;line-height:28px;}.elementor-16859 .elementor-element.elementor-element-8fcb147 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-16859 .elementor-element.elementor-element-198b28b .widget-image-caption{font-size:var( --e-global-typography-ec4a1f8-font-size );line-height:var( --e-global-typography-ec4a1f8-line-height );letter-spacing:var( --e-global-typography-ec4a1f8-letter-spacing );word-spacing:var( --e-global-typography-ec4a1f8-word-spacing );}}@media(max-width:767px){.elementor-16859 .elementor-element.elementor-element-fad7cda > .elementor-container{max-width:500px;}.elementor-16859 .elementor-element.elementor-element-fad7cda{z-index:4;}.elementor-16859 .elementor-element.elementor-element-8a27f85{width:100%;}.elementor-16859 .elementor-element.elementor-element-8a27f85 > .elementor-element-populated{margin:0% 0% 0% 0%;--e-column-margin-right:0%;--e-column-margin-left:0%;}.elementor-16859 .elementor-element.elementor-element-4c5d2e4 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-16859 .elementor-element.elementor-element-f1209e7 .elementor-heading-title{font-size:28px;line-height:30px;}.elementor-16859 .elementor-element.elementor-element-f1209e7 > .elementor-widget-container{margin:-5% 0% 0% 0%;padding:0% 0% 0% 0%;}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(0px/2);margin-left:calc(0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-0px/2);margin-left:calc(-0px/2);}body.rtl .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-0px/2);}body:not(.rtl) .elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-0px/2);}.elementor-16859 .elementor-element.elementor-element-6966788 .elementor-icon-list-item{line-height:19px;}.elementor-16859 .elementor-element.elementor-element-6966788 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}body:not(.rtl) .elementor-16859 .elementor-element.elementor-element-8b7f79f{right:0px;}body.rtl .elementor-16859 .elementor-element.elementor-element-8b7f79f{left:0px;}.elementor-16859 .elementor-element.elementor-element-8b7f79f{top:43px;}.elementor-16859 .elementor-element.elementor-element-22454e8{top:-20px;}.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-item{font-size:26px;}.elementor-16859 .elementor-element.elementor-element-99f30a6 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;}.elementor-16859 .elementor-element.elementor-element-198b28b{text-align:center;}.elementor-16859 .elementor-element.elementor-element-198b28b img{width:100%;}.elementor-16859 .elementor-element.elementor-element-198b28b .widget-image-caption{font-size:var( --e-global-typography-ec4a1f8-font-size );line-height:var( --e-global-typography-ec4a1f8-line-height );letter-spacing:var( --e-global-typography-ec4a1f8-letter-spacing );word-spacing:var( --e-global-typography-ec4a1f8-word-spacing );}.elementor-16859 .elementor-element.elementor-element-198b28b > .elementor-widget-container{margin:0% 0% 0% 0%;}.elementor-16859 .elementor-element.elementor-element-597a896 .elementor-icon-wrapper{text-align:center;}.elementor-16859 .elementor-element.elementor-element-597a896 .elementor-icon{font-size:110px;}.elementor-16859 .elementor-element.elementor-element-597a896 > .elementor-widget-container{margin:0% 0% 0% -9%;--e-transform-translateX:0%;--e-transform-translateY:0%;}.elementor-16859 .elementor-element.elementor-element-597a896{width:28.438%;max-width:28.438%;align-self:flex-end;}.elementor-16859 .elementor-element.elementor-element-6f86acd{padding:0px 0px 0px 0px;}.elementor-16859 .elementor-element.elementor-element-8fcb147 > .elementor-widget-container{margin:0px 0px 0px 0px;}}/* Start custom CSS for post-info, class: .elementor-element-99f30a6 */.elementor-16859 .elementor-element.elementor-element-99f30a6 .elementor-icon-list-text a{
    display: none;
}

.postCategory a{
    display: none;
    background-color: #F39E3D;
    padding: 5px;
}

.postCategory a{
    display: none;
    background-color: #F39E3D;
    padding: 5px;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-597a896 */@media only screen and (max-width: 768px) {
    #mobile-thread-post-img{
        width:150px;
        transform:translateX(10px);
        margin-left:80%;
        margin-top: -100%;
        overflow: hidden;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-204c49a */#postimgwrap .elementor-widget-wrap{
    justify-content: center;
}/* End custom CSS */
/* Start custom CSS for theme-post-content, class: .elementor-element-8fcb147 */#postcontent {
    width: 59vw
}

@media only screen and (max-width: 768px) {
    #postcontent {
    width: auto;
}
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Demibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-DemiboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ExtraboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Magicline';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Magicline.woff') format('woff');
}
/* End Custom Fonts CSS */