.elementor-547 .elementor-element.elementor-element-6a7c981{color:var( --e-global-color-07ed730 );font-family:"Adrianna", Sans-serif;font-size:100px;font-weight:700;z-index:2;width:initial;max-width:initial;top:0px;}.elementor-547 .elementor-element.elementor-element-6a7c981 > .elementor-widget-container{margin:60px 0px 0px 0px;}body:not(.rtl) .elementor-547 .elementor-element.elementor-element-6a7c981{left:0px;}body.rtl .elementor-547 .elementor-element.elementor-element-6a7c981{right:0px;}.elementor-547 .elementor-element.elementor-element-52562d0{margin-top:0px;margin-bottom:0px;z-index:2;}.elementor-547 .elementor-element.elementor-element-02a0494:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-547 .elementor-element.elementor-element-02a0494 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-07ed730 );}.elementor-547 .elementor-element.elementor-element-02a0494 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-547 .elementor-element.elementor-element-02a0494 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-547 .elementor-element.elementor-element-a4705d9{color:#FFFFFF;font-family:"Magicline", Sans-serif;font-size:80px;font-weight:400;}.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-widget-header__secondary-line{background-color:#61CE70;}.elementor-547 .elementor-element.elementor-element-cd529d8.anwp-pg-widget-header-style--b .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-547 .elementor-element.elementor-element-cd529d8.anwp-pg-widget-header-style--c .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-widget-header{margin-bottom:15px;}.elementor-547 .elementor-element.elementor-element-cd529d8.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-547 .elementor-element.elementor-element-cd529d8.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-547 .elementor-element.elementor-element-cd529d8.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-547 .elementor-element.elementor-element-cd529d8.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-547 .elementor-element.elementor-element-cd529d8.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-547 .elementor-element.elementor-element-cd529d8.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-547 .elementor-element.elementor-element-cd529d8.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-classic-slider .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;}.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser__title a{font-family:"Magicline", Sans-serif;font-size:40px;font-weight:400;line-height:50px;color:var( --e-global-color-primary );}.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser__bottom-meta{margin-top:15px;margin-bottom:15px;}.elementor-547 .elementor-element.elementor-element-cd529d8 .swiper-pagination-bullet{background:var( --e-global-color-primary );width:9px;height:9px;}.elementor-547 .elementor-element.elementor-element-cd529d8 > .elementor-widget-container{margin:68px 0px 0px 0px;}.elementor-547 .elementor-element.elementor-element-758e46c{text-align:left;z-index:-1;bottom:-72px;}body:not(.rtl) .elementor-547 .elementor-element.elementor-element-758e46c{left:-18%;}body.rtl .elementor-547 .elementor-element.elementor-element-758e46c{right:-18%;}.elementor-547 .elementor-element.elementor-element-0b86dce{color:var( --e-global-color-07ed730 );font-family:"Adrianna", Sans-serif;font-size:100px;font-weight:700;z-index:2;width:initial;max-width:initial;}.elementor-547 .elementor-element.elementor-element-0b86dce > .elementor-widget-container{margin:60px 0px 0px 0px;}.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-widget-header__secondary-line{background-color:#61CE70;}.elementor-547 .elementor-element.elementor-element-bf7016a.anwp-pg-widget-header-style--b .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-547 .elementor-element.elementor-element-bf7016a.anwp-pg-widget-header-style--c .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-widget-header{margin-bottom:15px;}.elementor-547 .elementor-element.elementor-element-bf7016a.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-547 .elementor-element.elementor-element-bf7016a.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-547 .elementor-element.elementor-element-bf7016a.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-547 .elementor-element.elementor-element-bf7016a.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-547 .elementor-element.elementor-element-bf7016a.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-547 .elementor-element.elementor-element-bf7016a.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-547 .elementor-element.elementor-element-bf7016a.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-classic-grid .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;}.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__title a{font-family:"Magicline", Sans-serif;font-weight:400;}.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__bottom-meta{margin-top:5px;margin-bottom:5px;}:root{--page-title-display:none;}@media(max-width:767px){.elementor-547 .elementor-element.elementor-element-0b86dce{font-size:28px;line-height:30px;}.elementor-547 .elementor-element.elementor-element-0b86dce > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__title a{font-size:26px;line-height:36px;}}@media(min-width:768px){.elementor-547 .elementor-element.elementor-element-02a0494{width:100%;}}/* Start custom CSS for section, class: .elementor-element-52562d0 */.elementor-547 .elementor-element.elementor-element-52562d0{
    position: absolute;
    width: 223px;
    text-align: center;
    transform: rotate(-4deg);
    top: 120px;
    left: 75px
}/* End custom CSS */
/* Start custom CSS for anwp-pg-classic-slider, class: .elementor-element-cd529d8 */.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser__content{
    position: absolute;
    width: 387px;
    height: auto;
    right: -15%;
    top: 160px;
    background-color: white;
    padding: 44px 54px 0px 48px;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__content{
    border: solid 1px #FBEBE7;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__content{
    border: solid 1px #FA7268;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__content{
    border: solid 1px #F39E3D;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser__content:after{
    position: absolute;
    width: 100%;
    content: "";
    height: 100%;
    background-color: black;
    z-index: -1;
    left: 8px;
    top: 8px;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__content:after{
    background-color: #F2A4B1;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__content:after{
    background-color: #FA7268;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__content:after{
    background-color: #F39E3D;
}

.elementor-547 .elementor-element.elementor-element-cd529d8  .anwp-pg-swiper-wrapper{
   overflow: visible;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser__thumbnail-img{
    height: 600px;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser__thumbnail{
    overflow: visible;    
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser__thumbnail:after{
    position: absolute;
    width: 100%;
    content: "";
    height: 100%;
    z-index: -1;
    left: 8px;
    top: 8px;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__thumbnail:after{
    background-color: #F39E3D;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__thumbnail:after{
    background-color: #F2A4B1;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__thumbnail:after{
    background-color: #FA7268;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser__title{
margin-top: 75px !important    
}

.read-more.anwp-pg-read-more__btn{
    color: white;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 50px;
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 16px !important;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser__excerpt{
margin-bottom: 48px !important;    
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-read-more{
    margin-top: 0px !important;
    padding-bottom: 39px !important;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+1) .read-more.anwp-pg-read-more__btn{
  background-color: #F39E3D;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+2) .read-more.anwp-pg-read-more__btn{
  background-color: #F2A4B1;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+3) .read-more.anwp-pg-read-more__btn{
  background-color: #FA7268;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 18px !important;
    text-transform: none !important;
    font-weight: 600;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__category-wrapper span{
  color: #F39E3D;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__category-wrapper span{
  color: #F2A4B1;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__category-wrapper span{
  color: #FA7268;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser__top-meta{
    top: 170px;
    left: 83%;
    margin: 10px 0px 0px -10px;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .anwp-pg-post-teaser__top-meta div:nth-child(0n+1) span{
    display: none !important;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .swiper-pagination-bullet{
    opacity: 1;
    margin: 0px 3px;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #FA7268 !important;
}

.elementor-547 .elementor-element.elementor-element-cd529d8 .eicon-chevron-left:before{
     content: "";
 }

.elementor-547 .elementor-element.elementor-element-cd529d8 .eicon-chevron-left{
    position: absolute;
    left: 40px;
     width: 91px;
     height: 91px;
     background-color: #F39E3D;
     border-radius: 50%;
     background-image: url('/wp-content/uploads/2022/03/leftchevron.svg');
     background-repeat: no-repeat;
     background-position: center;
     margin-left: -180px;
 }
 
.elementor-547 .elementor-element.elementor-element-cd529d8 .eicon-chevron-right:before{
     content: "";
 }
 
.elementor-547 .elementor-element.elementor-element-cd529d8 .eicon-chevron-right{
    position: absolute;
    right: -260px;
     width: 91px;
     height: 91px;
     background-color: #F39E3D;
     border-radius: 50%;
     background-image: url('/wp-content/uploads/2022/03/rightchevron.svg');
     background-repeat: no-repeat;
     background-position: center;
 }/* End custom CSS */
/* Start custom CSS for anwp-pg-classic-grid, class: .elementor-element-bf7016a */.elementor-547 .elementor-element.elementor-element-bf7016a .read-more-mobile{
    background-color: red;
    padding: 12px 30px;
    border-radius: 100px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__excerpt{
margin-bottom: 24px !important;    
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__top-meta{
    top: 190px;
    margin: 0px 0px 0px -8px;
    font-weight: 600;
    font-size: 16px;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__top-meta div:nth-child(0n+1) span{
    display: none !important;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 16px !important;
    text-transform: none !important;
    font-weight: 600;
    color: red;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__thumbnail{
    overflow: visible;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__title{
margin-top: 54px !important    
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__excerpt{
    font-size: 16px;
    line-height: 22px;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser:nth-child(3n+1) .read-more-mobile.anwp-pg-read-more__btn{
  background-color: #F39E3D;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser:nth-child(3n+2) .read-more-mobile.anwp-pg-read-more__btn{
  background-color: #F2A4B1;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser:nth-child(3n+3) .read-more-mobile.anwp-pg-read-more__btn{
  background-color: #FA7268;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__category-wrapper span{
  color: #F39E3D;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__category-wrapper span{
  color: #F2A4B1;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__category-wrapper span{
  color: #FA7268;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__thumbnail{
    overflow: visible;    
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__thumbnail:after{
    position: absolute;
    width: 100%;
    content: "";
    height: 100%;
    z-index: -1;
    left: 5px;
    top: 5px;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__thumbnail:after{
    background-color: #F2A4B1;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__thumbnail:after{
    background-color: #FA7268;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__thumbnail:after{
    background-color:
    #F39E3D;
}

.elementor-547 .elementor-element.elementor-element-bf7016a .anwp-pg-post-teaser__content{
    border: 0px;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Demibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-DemiboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ExtraboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Magicline';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Magicline.woff') format('woff');
}
/* End Custom Fonts CSS */