.elementor-21411 .elementor-element.elementor-element-1361260 > .elementor-container{max-width:1170px;}.elementor-21411 .elementor-element.elementor-element-1361260{margin-top:50px;margin-bottom:0px;}.elementor-21411 .elementor-element.elementor-element-63124a1 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-21411 .elementor-element.elementor-element-63124a1 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-21411 .elementor-element.elementor-element-0a3440f{font-size:12px;font-weight:300;color:#0A0055AD;}.elementor-21411 .elementor-element.elementor-element-0a3440f a{color:var( --e-global-color-text );}.elementor-21411 .elementor-element.elementor-element-0a3440f > .elementor-widget-container{margin:0px 0px 31px 0px;}.elementor-21411 .elementor-element.elementor-element-10b822f .elementor-heading-title{color:var( --e-global-color-text );font-size:48px;font-weight:700;}.elementor-21411 .elementor-element.elementor-element-10b822f > .elementor-widget-container{margin:0px 0px 31px 0px;}.elementor-21411 .elementor-element.elementor-element-02ea323{font-size:18px;}.elementor-21411 .elementor-element.elementor-element-0c62ff6 > .elementor-container{max-width:1170px;}.elementor-21411 .elementor-element.elementor-element-0c62ff6{margin-top:50px;margin-bottom:0px;}.elementor-21411 .elementor-element.elementor-element-52da74b > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-21411 .elementor-element.elementor-element-52da74b > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-21411 .elementor-element.elementor-element-52da74b{z-index:0;}.elementor-21411 .elementor-element.elementor-element-29386d6 .elementor-heading-title{color:var( --e-global-color-text );font-size:48px;font-weight:700;}.elementor-21411 .elementor-element.elementor-element-29386d6 > .elementor-widget-container{margin:0px 0px 43px 0px;}.elementor-21411 .elementor-element.elementor-element-5e0f32c5 > .elementor-container{max-width:1170px;}.elementor-21411 .elementor-element.elementor-element-5e0f32c5{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:75px;margin-bottom:0px;padding:25px 0px 0px 0px;}.elementor-21411 .elementor-element.elementor-element-5e0f32c5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-21411 .elementor-element.elementor-element-2b8e13d0 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-21411 .elementor-element.elementor-element-3a07f9c7 .elementor-heading-title{color:var( --e-global-color-text );font-family:"Adrianna", Sans-serif;font-size:48px;font-weight:700;}.elementor-21411 .elementor-element.elementor-element-3a07f9c7 > .elementor-widget-container{margin:-0px 0px 0px 0px;padding:0px 0px 30px 0px;}.elementor-21411 .elementor-element.elementor-element-5253095c .anwp-pg-widget-header{margin-bottom:15px;}.elementor-21411 .elementor-element.elementor-element-5253095c.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21411 .elementor-element.elementor-element-5253095c.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21411 .elementor-element.elementor-element-5253095c.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21411 .elementor-element.elementor-element-5253095c.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21411 .elementor-element.elementor-element-5253095c.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21411 .elementor-element.elementor-element-5253095c.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-21411 .elementor-element.elementor-element-5253095c.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-21411 .elementor-element.elementor-element-5253095c .anwp-pg-classic-slider .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;}.elementor-21411 .elementor-element.elementor-element-5253095c .anwp-pg-post-teaser__title a{font-family:"Adrianna", Sans-serif;font-size:16px;color:var( --e-global-color-text );}.elementor-21411 .elementor-element.elementor-element-5253095c .anwp-pg-post-teaser__bottom-meta{margin-top:5px;margin-bottom:5px;}.elementor-21411 .elementor-element.elementor-element-5253095c .elementor-swiper-button.elementor-swiper-button-prev, .elementor-21411 .elementor-element.elementor-element-5253095c .elementor-swiper-button.elementor-swiper-button-next{color:#FFFFFF;}.elementor-21411 .elementor-element.elementor-element-5253095c > .elementor-widget-container{margin:0px -50px 0px -30px;}.elementor-21411 .elementor-element.elementor-element-72c1c4a1{margin-top:135px;margin-bottom:60px;padding:0px 0px 0px 0px;}.elementor-21411 .elementor-element.elementor-element-42a9785a .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Adrianna", Sans-serif;font-size:34px;font-weight:700;}.elementor-21411 .elementor-element.elementor-element-42a9785a > .elementor-widget-container{margin:2% 2% 2% 0%;}.elementor-21411 .elementor-element.elementor-element-1420ef97 .anwp-pg-widget-header__secondary-line{background-color:#61CE70;}.elementor-21411 .elementor-element.elementor-element-1420ef97.anwp-pg-widget-header-style--b .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-21411 .elementor-element.elementor-element-1420ef97.anwp-pg-widget-header-style--c .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-21411 .elementor-element.elementor-element-1420ef97 .anwp-pg-widget-header{margin-bottom:15px;}.elementor-21411 .elementor-element.elementor-element-1420ef97.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21411 .elementor-element.elementor-element-1420ef97.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21411 .elementor-element.elementor-element-1420ef97.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21411 .elementor-element.elementor-element-1420ef97.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21411 .elementor-element.elementor-element-1420ef97.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21411 .elementor-element.elementor-element-1420ef97.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-21411 .elementor-element.elementor-element-1420ef97.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-21411 .elementor-element.elementor-element-1420ef97 .anwp-pg-classic-grid .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;color:var( --e-global-color-secondary );}.elementor-21411 .elementor-element.elementor-element-1420ef97 .anwp-pg-classic-grid .anwp-pg-post-teaser__content{background-color:#FFFFFF !important;}.elementor-21411 .elementor-element.elementor-element-1420ef97 .anwp-pg-post-teaser__title a{font-family:"Adrianna", Sans-serif;font-size:16px;color:var( --e-global-color-text );}.elementor-21411 .elementor-element.elementor-element-1420ef97 .anwp-pg-post-teaser__bottom-meta{margin-top:-5px;margin-bottom:-5px;}:root{--page-title-display:none;}@media(max-width:767px){.elementor-21411 .elementor-element.elementor-element-1361260{margin-top:0px;margin-bottom:0px;}.elementor-21411 .elementor-element.elementor-element-63124a1 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-21411 .elementor-element.elementor-element-0a3440f > .elementor-widget-container{margin:25px 0px 20px 16px;}.elementor-21411 .elementor-element.elementor-element-10b822f .elementor-heading-title{font-size:28px;line-height:28px;}.elementor-21411 .elementor-element.elementor-element-10b822f > .elementor-widget-container{margin:0px 16px 0px 16px;}.elementor-21411 .elementor-element.elementor-element-02ea323{font-size:16px;}.elementor-21411 .elementor-element.elementor-element-02ea323 > .elementor-widget-container{margin:20px 16px 0px 16px;}.elementor-21411 .elementor-element.elementor-element-0c62ff6{margin-top:0px;margin-bottom:0px;}.elementor-21411 .elementor-element.elementor-element-52da74b > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-21411 .elementor-element.elementor-element-52da74b > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-21411 .elementor-element.elementor-element-29386d6 .elementor-heading-title{font-size:28px;line-height:28px;}.elementor-21411 .elementor-element.elementor-element-29386d6 > .elementor-widget-container{margin:30px 16px 25px 16px;}.elementor-21411 .elementor-element.elementor-element-828a81a > .elementor-widget-container{margin:0px 10px 0px 10px;}.elementor-21411 .elementor-element.elementor-element-5e0f32c5 > .elementor-container{min-height:448px;}.elementor-21411 .elementor-element.elementor-element-5e0f32c5{margin-top:24px;margin-bottom:0px;}.elementor-21411 .elementor-element.elementor-element-2b8e13d0 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-21411 .elementor-element.elementor-element-3a07f9c7{text-align:left;}.elementor-21411 .elementor-element.elementor-element-3a07f9c7 .elementor-heading-title{font-size:22px;line-height:23px;}.elementor-21411 .elementor-element.elementor-element-3a07f9c7 > .elementor-widget-container{margin:0px 100px 0px 0px;padding:0px 0px 0px 0px;}.elementor-21411 .elementor-element.elementor-element-5253095c > .elementor-widget-container{margin:0% -40% 0% -9%;}.elementor-21411 .elementor-element.elementor-element-72c1c4a1{margin-top:10px;margin-bottom:30px;}.elementor-21411 .elementor-element.elementor-element-4d101dbe > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-21411 .elementor-element.elementor-element-4d101dbe > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-21411 .elementor-element.elementor-element-42a9785a{text-align:left;}.elementor-21411 .elementor-element.elementor-element-42a9785a .elementor-heading-title{font-size:22px;}.elementor-21411 .elementor-element.elementor-element-42a9785a > .elementor-widget-container{margin:0px 16px 24px 16px;padding:0% 4% 0% 0%;}.elementor-21411 .elementor-element.elementor-element-1420ef97 > .elementor-widget-container{margin:0px 16px 0px 16px;}}/* Start custom CSS for shortcode, class: .elementor-element-d4192ba */.elementor-21411 .elementor-element.elementor-element-d4192ba {
    margin-left: -32px
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-sl-angle-right{
    color: #FBEBE7 !important;
    font-weight: 900;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-sl-angle-left{
    color: #FBEBE7 !important;
    font-weight: 900;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba *{
    color: #0A0055;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-load-month{
    border: none;
    box-shadow: none;
    text-transform: lowercase;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-load-month-link{
    text-transform: none;
    font-size: 18px;
    font-weight: 600;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar-header h2{
    margin: 0px 110px;
    background-color: #FBEBE7;
    color: #1A00DE;
    font-family: "Magicline";
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 400;
    padding: 35px 0px 15px 0px;
    transform: rotate(-3deg);
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar .mec-calendar-table-head dt{
    text-transform: lowercase;
    font-weight: 600;
    font-size: 18px;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-table-nullday{
    color: #0A0055;
    opacity: 20%;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar-day,.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-table-nullday{
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 10px;
    font-size: 18px;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar-row{
    order-collapse: separate;
    border-spacing: 31px 7px;
    margin-left: -16px;
    margin-right: -16px;
    width: 588px;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-selected-day{
    background-color: #F39E3D;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-selected-day{
    color: white;
    background-color: #F39E3D;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-has-event{
    background-color: #F2A4B1;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-has-event:hover{
    background-color: #F39E3D;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-has-event:after{
    display: none;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-table-side-title{
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0.5px;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-event-article{
    border-color: #F6C8B8;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-event-detail{
    font-size: 18px;
    margin-left: 14px;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-event-image, .elementor-21411 .elementor-element.elementor-element-d4192ba .mec-event-time i{
    display: none;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-event-loc-place{
    font-size: 11px;
    line-height: 1.1;
    margin: 0;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-event-title{
    color: #0A0055;
    font-weight: 600;
    font-size: 18px;
    text-transform: none;
    margin-left: 14px;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-event-time{
    margin-left: 14px;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-color-hover{
    font-size: 18px;
    color: #0A0055;
    transition: none;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar .mec-event-article:hover{
    color: white;
    background-color: #F39E3D;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar .mec-event-article:hover *{
    color: white;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar .mec-event-article .mec-event-title a:hover{
    color: white
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-table-side-day{
    border: none;
    font-size: 20px;
    font-weight: 400;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-wrap {
    overflow: hidden;
    position: relative;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-modal-preloader,
.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-month-navigator-loading {
    position: absolute;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .event-color{
    display: none;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-event-footer{
    display: none;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar-side{
    border: solid 1px #FBEBE7;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar-side:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #F2A4B1;
    z-index: -1;
    top: 8px;
    left: 8px;

}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar {
    border: none
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar-events-side{
    border: solid 1px #FBEBE7;
    margin-left: 32px;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar-events-side:after{
        content: "";
    height: 632px;
    width: 431px;
    position: absolute;
    background-color: #1A00DE;
    z-index: -1;
    right: 24px;
    bottom: 13px;
}

.elementor-21411 .elementor-element.elementor-element-d4192ba .mec-calendar-topsec {
    display: table;
    background: #fff;
    border-collapse: separate;
    border-spacing: 32px 0px;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-828a81a */.elementor-21411 .elementor-element.elementor-element-828a81a .mec-sl-angle-right{
    color: #FBEBE7 !important;
    font-weight: 900;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-sl-angle-left{
    color: #FBEBE7 !important;
    font-weight: 900;
}

.elementor-21411 .elementor-element.elementor-element-828a81a *{
    color: #0A0055;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-load-month{
    border: none;
    box-shadow: none;
    text-transform: lowercase;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-load-month-link{
    text-transform: none;
    font-size: 18px;
    font-weight: 600;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-calendar-header h2{
    margin: 0px 40px;
    background-color: #FBEBE7;
    color: #1A00DE;
    font-family: "Magicline";
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 400;
    padding: 15px 0px 5px 0px;
    transform: rotate(-3deg);
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-calendar .mec-calendar-table-head dt{
    text-transform: lowercase;
    font-weight: 600;
    font-size: 18px;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-table-nullday{
    color: #0A0055;
    opacity: 20%;
}


.elementor-21411 .elementor-element.elementor-element-828a81a .mec-selected-day{
    background-color: #F39E3D;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-selected-day{
    color: white;
    background-color: #F39E3D;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-has-event{
    background-color: #F2A4B1;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-has-event:hover{
    background-color: #F39E3D;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-has-event:after{
    display: none;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-table-side-title{
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0.5px;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-event-article{
    border-color: #F6C8B8;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-event-detail{
    font-size: 18px;
    margin-left: 14px;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-event-image, .elementor-21411 .elementor-element.elementor-element-828a81a .mec-event-time i{
    display: none;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-event-loc-place{
    font-size: 11px;
    line-height: 1.1;
    margin: 0;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-event-title{
    color: #0A0055;
    font-weight: 600;
    font-size: 18px;
    text-transform: none;
   margin-left: 14px;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-event-time{
    margin-left: 14px;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-color-hover{
    font-size: 18px;
    color: #0A0055;
    transition: none;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-calendar .mec-event-article:hover{
    color: white;
    background-color: #F39E3D;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-calendar .mec-event-article:hover *{
    color: white;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-calendar .mec-event-article .mec-event-title a:hover{
    color: white
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-table-side-day{
    border: none;
    font-size: 20px;
    font-weight: 400;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-wrap {
    overflow: hidden;
    position: relative;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-modal-preloader,
.elementor-21411 .elementor-element.elementor-element-828a81a .mec-month-navigator-loading {
    position: absolute;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .event-color{
    display: none;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-event-footer{
    display: none;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-calendar-side{
    border: solid 1px #FBEBE7;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-calendar-side:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #F2A4B1;
    z-index: -1;
    top: 8px;
    left: 8px;

}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-calendar {
    border: none
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-calendar-events-side{
    border: solid 1px #FBEBE7;
}

.elementor-21411 .elementor-element.elementor-element-828a81a .mec-calendar-events-side:after{
        content: "";
   /* height: 632px;
    width: 431px;*/
    position: absolute;
    background-color: #1A00DE;
    z-index: -1;
    right: 24px;
    bottom: 13px;
}/* End custom CSS */
/* Start custom CSS for anwp-pg-classic-slider, class: .elementor-element-5253095c */#posts-slider .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__category-wrapper span{
  color: #F39E3D;
}

#posts-slider .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__category-wrapper span{
  color: #1A00DE;
}

#posts-slider .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__category-wrapper span{
  color: #F2A4B1;
}

.read-more.anwp-pg-read-more__btn{
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 16px !important;
}

#posts-slider .anwp-pg-post-teaser:nth-child(3n+1) .read-more.anwp-pg-read-more__btn{
  background-color: #F39E3D;
}

#posts-slider .anwp-pg-post-teaser:nth-child(3n+2) .read-more.anwp-pg-read-more__btn{
  background-color: #F2A4B1;
}

#posts-slider .anwp-pg-post-teaser:nth-child(3n+3) .read-more.anwp-pg-read-more__btn{
  background-color: #1A00DE;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__title{
    padding: 30px 12px 0px 0px !important;
    text-align: left !important;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: 700;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__content{
    min-height: 140px !important;
    
}
.anwp-pg-classic-slider .anwp-pg-post-teaser__top-meta{
    top: 100% !important;
    margin: 10px 0px 0px -10px !important;
    
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__thumbnail{
    overflow: visible !important;
}

.anwp-pg-classic-slider .eicon-chevron-left{
    position: absolute;
    top: -225px;
    left: 90vw;
    background-color: #1A00DE;
    padding: 8px 10px 8px 8px;
    border-radius: 50%;
}

.anwp-pg-classic-slider .eicon-chevron-right{
    position: absolute;
    top: -225px;
    left: -5vw;
    background-color: #1A00DE;
    padding: 8px 8px 8px 10px;
    border-radius: 50%;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser--layout-d{
    width: 350px !important;
}

.anwp-pg-classic-slider{
    overflow: hidden !important;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .anwp-pg-classic-slider .anwp-pg-post-teaser--layout-d{
    width: 250px !important;
}

.anwp-pg-classic-slider .eicon-chevron-right{
    display: none;
}

.anwp-pg-classic-slider .eicon-chevron-left{
    display: none;
}

.posts-slider-title .elementor-widget-container{
    margin: 0px 100px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#posts-slider-title .elementor-widget-container{
    margin: 0px 100px 0px 15px;
    padding: 0px 0px 0px 0px;
}

#posts-slider .elementor-widget-container{
    margin: 0% -100px 0% -15px;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5e0f32c5 */@media only screen and (max-width: 768px) {
    #wrapslider{
        left:0px !important;
    }

}/* End custom CSS */
/* Start custom CSS for anwp-pg-classic-grid, class: .elementor-element-1420ef97 */.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__category-wrapper span{
  color: #F39E3D;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__category-wrapper span{
  color: #1A00DE;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__category-wrapper span{
  color: #F2A4B1;
}

.read-more-grid.anwp-pg-read-more__btn{
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 16px !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__bottom-meta{
    margin-top: 25px !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+1) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #F39E3D;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+2) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #F2A4B1;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+3) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #1A00DE;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__content{
    border: none !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: 700;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__top-meta{
    top: 104% !important;
    left: -3% !important;
    
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__thumbnail{
    overflow: visible !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__title{
    margin: 30px 0px 0px 2px !important;
    text-align: left !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4d101dbe */.elementor-21411 .elementor-element.elementor-element-4d101dbe{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Demibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-DemiboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ExtraboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */