.elementor-6198 .elementor-element.elementor-element-08507e3 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-6198 .elementor-element.elementor-element-17451cf > .elementor-container{min-height:266px;}.elementor-6198 .elementor-element.elementor-element-17451cf:not(.elementor-motion-effects-element-type-background), .elementor-6198 .elementor-element.elementor-element-17451cf > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-6198 .elementor-element.elementor-element-17451cf{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-6198 .elementor-element.elementor-element-17451cf > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-6198 .elementor-element.elementor-element-9a60ecf{text-align:center;color:#F2A4B1;font-family:"Adrianna", Sans-serif;font-size:32px;font-weight:700;}.elementor-6198 .elementor-element.elementor-element-9a60ecf > .elementor-widget-container{margin:30px 0px 0px 0px;}.elementor-6198 .elementor-element.elementor-element-a398eb2{text-align:center;color:#FFFFFF;font-family:"Adrianna", Sans-serif;font-size:18px;font-weight:500;line-height:28px;}.elementor-6198 .elementor-element.elementor-element-2a0d1c2 .elementor-button{font-size:16px;font-weight:500;fill:var( --e-global-color-primary );color:var( --e-global-color-primary );background-color:#FFFFFF;border-radius:70px 70px 70px 70px;}.elementor-6198 .elementor-element.elementor-element-2a0d1c2 > .elementor-widget-container{margin:-20px 0px 20px 0px;}.elementor-6198 .elementor-element.elementor-element-2a0d1c2{z-index:2;}body:not(.rtl) .elementor-6198 .elementor-element.elementor-element-218be95{left:-192px;}body.rtl .elementor-6198 .elementor-element.elementor-element-218be95{right:-192px;}.elementor-6198 .elementor-element.elementor-element-218be95{top:104px;}body:not(.rtl) .elementor-6198 .elementor-element.elementor-element-87503f1{left:234px;}body.rtl .elementor-6198 .elementor-element.elementor-element-87503f1{right:234px;}.elementor-6198 .elementor-element.elementor-element-87503f1{top:-14px;}.elementor-6198 .elementor-element.elementor-element-1519363 > .elementor-container{min-height:500px;}.elementor-6198 .elementor-element.elementor-element-1519363{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-6198 .elementor-element.elementor-element-1519363:not(.elementor-motion-effects-element-type-background), .elementor-6198 .elementor-element.elementor-element-1519363 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-accent );}.elementor-6198 .elementor-element.elementor-element-1519363 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-6198 .elementor-element.elementor-element-e775f40 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-6198 .elementor-element.elementor-element-d8a05e5 .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Adrianna", Sans-serif;font-size:34px;font-weight:700;}.elementor-6198 .elementor-element.elementor-element-d8a05e5 > .elementor-widget-container{margin:-0px 0px 0px 190px;padding:30px 0px 30px 0px;}.elementor-6198 .elementor-element.elementor-element-b28fff1 .anwp-pg-widget-header{margin-bottom:15px;}.elementor-6198 .elementor-element.elementor-element-b28fff1.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-6198 .elementor-element.elementor-element-b28fff1.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-6198 .elementor-element.elementor-element-b28fff1.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-6198 .elementor-element.elementor-element-b28fff1.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-6198 .elementor-element.elementor-element-b28fff1.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-6198 .elementor-element.elementor-element-b28fff1.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-6198 .elementor-element.elementor-element-b28fff1.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-6198 .elementor-element.elementor-element-b28fff1 .anwp-pg-classic-slider .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;color:var( --e-global-color-secondary );}.elementor-6198 .elementor-element.elementor-element-b28fff1 .anwp-pg-classic-slider .anwp-pg-post-teaser__content{background-color:#FFFEFE !important;}.elementor-6198 .elementor-element.elementor-element-b28fff1 .anwp-pg-post-teaser__title a{font-family:"Adrianna", Sans-serif;font-size:16px;color:var( --e-global-color-text );}.elementor-6198 .elementor-element.elementor-element-b28fff1 .anwp-pg-post-teaser__bottom-meta{margin-top:5px;margin-bottom:5px;}.elementor-6198 .elementor-element.elementor-element-b28fff1 .elementor-swiper-button.elementor-swiper-button-prev, .elementor-6198 .elementor-element.elementor-element-b28fff1 .elementor-swiper-button.elementor-swiper-button-next{color:#FFFFFF;}.elementor-6198 .elementor-element.elementor-element-b28fff1 > .elementor-widget-container{margin:0px -50px 0px 160px;}.elementor-6198 .elementor-element.elementor-element-267d808{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-6198 .elementor-element.elementor-element-8e7d28b .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Adrianna", Sans-serif;font-size:34px;font-weight:700;}.elementor-6198 .elementor-element.elementor-element-8e7d28b > .elementor-widget-container{margin:2% 2% 2% 0%;}.elementor-6198 .elementor-element.elementor-element-f23d5e3 .anwp-pg-widget-header__secondary-line{background-color:#61CE70;}.elementor-6198 .elementor-element.elementor-element-f23d5e3.anwp-pg-widget-header-style--b .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-6198 .elementor-element.elementor-element-f23d5e3.anwp-pg-widget-header-style--c .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-6198 .elementor-element.elementor-element-f23d5e3 .anwp-pg-widget-header{margin-bottom:15px;}.elementor-6198 .elementor-element.elementor-element-f23d5e3.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-6198 .elementor-element.elementor-element-f23d5e3.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-6198 .elementor-element.elementor-element-f23d5e3.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-6198 .elementor-element.elementor-element-f23d5e3.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-6198 .elementor-element.elementor-element-f23d5e3.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-6198 .elementor-element.elementor-element-f23d5e3.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-6198 .elementor-element.elementor-element-f23d5e3.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-6198 .elementor-element.elementor-element-f23d5e3 .anwp-pg-classic-grid .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;color:var( --e-global-color-secondary );}.elementor-6198 .elementor-element.elementor-element-f23d5e3 .anwp-pg-classic-grid .anwp-pg-post-teaser__content{background-color:#FFFFFF !important;}.elementor-6198 .elementor-element.elementor-element-f23d5e3 .anwp-pg-post-teaser__title a{font-family:"Adrianna", Sans-serif;font-size:16px;color:var( --e-global-color-text );}.elementor-6198 .elementor-element.elementor-element-f23d5e3 .anwp-pg-post-teaser__bottom-meta{margin-top:-5px;margin-bottom:-5px;}@media(max-width:767px){.elementor-6198 .elementor-element.elementor-element-17451cf > .elementor-container{min-height:221px;}.elementor-6198 .elementor-element.elementor-element-4de698a{width:10%;}.elementor-6198 .elementor-element.elementor-element-abf011e{width:79%;}.elementor-6198 .elementor-element.elementor-element-abf011e > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:3px;}.elementor-6198 .elementor-element.elementor-element-9a60ecf{font-size:24px;line-height:26px;}.elementor-6198 .elementor-element.elementor-element-9a60ecf > .elementor-widget-container{margin:12px 10px 0px 10px;}.elementor-6198 .elementor-element.elementor-element-a398eb2{font-size:16px;line-height:21px;}.elementor-6198 .elementor-element.elementor-element-2a0d1c2 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-6198 .elementor-element.elementor-element-218be95{width:62px;max-width:62px;top:129px;}body:not(.rtl) .elementor-6198 .elementor-element.elementor-element-218be95{left:-18px;}body.rtl .elementor-6198 .elementor-element.elementor-element-218be95{right:-18px;}.elementor-6198 .elementor-element.elementor-element-87503f1{width:50px;max-width:50px;top:-24px;}body:not(.rtl) .elementor-6198 .elementor-element.elementor-element-87503f1{left:241px;}body.rtl .elementor-6198 .elementor-element.elementor-element-87503f1{right:241px;}.elementor-6198 .elementor-element.elementor-element-fe0896b{width:10%;}.elementor-6198 .elementor-element.elementor-element-1519363 > .elementor-container{min-height:396px;}.elementor-6198 .elementor-element.elementor-element-1519363{margin-top:0px;margin-bottom:0px;}.elementor-6198 .elementor-element.elementor-element-e775f40 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-6198 .elementor-element.elementor-element-d8a05e5{text-align:left;}.elementor-6198 .elementor-element.elementor-element-d8a05e5 .elementor-heading-title{font-size:22px;line-height:23px;}.elementor-6198 .elementor-element.elementor-element-d8a05e5 > .elementor-widget-container{margin:0px 100px 0px 0px;padding:0px 0px 0px 0px;}.elementor-6198 .elementor-element.elementor-element-b28fff1 > .elementor-widget-container{margin:0% -40% 0% -9%;}.elementor-6198 .elementor-element.elementor-element-8e7d28b{text-align:left;}.elementor-6198 .elementor-element.elementor-element-8e7d28b .elementor-heading-title{font-size:22px;letter-spacing:1px;word-spacing:0.2em;}.elementor-6198 .elementor-element.elementor-element-8e7d28b > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 4% 0% 0%;}}@media(min-width:768px){.elementor-6198 .elementor-element.elementor-element-6110ceb{width:19.367%;}.elementor-6198 .elementor-element.elementor-element-08507e3{width:59.318%;}.elementor-6198 .elementor-element.elementor-element-4de698a{width:12.42%;}.elementor-6198 .elementor-element.elementor-element-abf011e{width:71.52%;}.elementor-6198 .elementor-element.elementor-element-fe0896b{width:12.452%;}.elementor-6198 .elementor-element.elementor-element-ff63550{width:20.979%;}.elementor-6198 .elementor-element.elementor-element-b349de8{width:10.031%;}.elementor-6198 .elementor-element.elementor-element-66a8a9e{width:79.502%;}.elementor-6198 .elementor-element.elementor-element-16a75ad{width:10.131%;}}/* Start custom CSS for anwp-pg-classic-slider, class: .elementor-element-b28fff1 */.anwp-pg-classic-slider .anwp-pg-post-teaser__title{
    padding: 20px 12px 0px 12px !important;
    text-align: left !important;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 14px !important;
    text-transform: none !important;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__content{
    min-height: 140px !important;
    
}
.anwp-pg-classic-slider .anwp-pg-post-teaser__top-meta{
    top: 100% !important;
    padding: 6px 0px 0px 5px !important
}

.anwp-pg-classic-slider .anwp-pg-post-teaser__thumbnail{
    overflow: visible !important;
}

.anwp-pg-classic-slider .eicon-chevron-left{
    position: absolute;
    top: -225px;
    left: 90vw;
    background-color: #1A00DE;
    padding: 8px 10px 8px 8px;
    border-radius: 50%;
}

.anwp-pg-classic-slider .eicon-chevron-right{
    position: absolute;
    top: -225px;
    left: -5vw;
    background-color: #1A00DE;
    padding: 8px 8px 8px 10px;
    border-radius: 50%;
}

.anwp-pg-classic-slider .anwp-pg-post-teaser--layout-d{
    width: 350px !important;
}

.anwp-pg-classic-slider{
    overflow: hidden !important;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .anwp-pg-classic-slider .anwp-pg-post-teaser--layout-d{
    width: 250px !important;
}

.anwp-pg-classic-slider .eicon-chevron-right{
    display: none;
}

.anwp-pg-classic-slider .eicon-chevron-left{
    display: none;
}

.posts-slider-title .elementor-widget-container{
    margin: 0px 100px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#posts-slider-title .elementor-widget-container{
    margin: 0px 100px 0px 15px;
    padding: 0px 0px 0px 0px;
}

#posts-slider .elementor-widget-container{
    margin: 0% -100px 0% -15px;
}
}/* End custom CSS */
/* Start custom CSS for anwp-pg-classic-grid, class: .elementor-element-f23d5e3 */.anwp-pg-classic-grid .anwp-pg-post-teaser__content{
    border: none !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 14px !important;
    text-transform: none !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__top-meta{
    top: 104% !important;
    left: -2% !important;
    
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__thumbnail{
    overflow: visible !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__title{
    padding: 20px 0px 0px 2px !important;
    text-align: left !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Demibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-DemiboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ExtraboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */