.elementor-7181 .elementor-element.elementor-element-0f27622 > .elementor-container{max-width:970px;}.elementor-7181 .elementor-element.elementor-element-0f27622{margin-top:64px;margin-bottom:0px;}.elementor-7181 .elementor-element.elementor-element-9801255 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-d26de68{font-family:"Adrianna", Sans-serif;font-size:12px;font-weight:400;color:#FFA69F;}.elementor-7181 .elementor-element.elementor-element-d26de68 a{color:#FA7268;}.elementor-7181 .elementor-element.elementor-element-d26de68 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-43ccecc > .elementor-container{max-width:970px;}.elementor-7181 .elementor-element.elementor-element-43ccecc{margin-top:30px;margin-bottom:30px;}.elementor-7181 .elementor-element.elementor-element-c931192 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-3d54da1 > .elementor-container{max-width:970px;}.elementor-7181 .elementor-element.elementor-element-3d54da1{margin-top:30px;margin-bottom:30px;}.elementor-7181 .elementor-element.elementor-element-2188f88 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-7710aad > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-7181 .elementor-element.elementor-element-57b8655 > .elementor-container{max-width:970px;}.elementor-7181 .elementor-element.elementor-element-57b8655{margin-top:30px;margin-bottom:30px;}.elementor-7181 .elementor-element.elementor-element-2d9c976 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-f3cf231 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-7181 .elementor-element.elementor-element-ee953eb > .elementor-container{max-width:970px;}.elementor-7181 .elementor-element.elementor-element-ee953eb{margin-top:30px;margin-bottom:30px;}.elementor-7181 .elementor-element.elementor-element-b2ab8f1 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-20ee6cf > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-7181 .elementor-element.elementor-element-20d8c75 > .elementor-container{max-width:970px;}.elementor-7181 .elementor-element.elementor-element-20d8c75{margin-top:30px;margin-bottom:30px;}.elementor-7181 .elementor-element.elementor-element-0178dad > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-03ba04c > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-7181 .elementor-element.elementor-element-7027184 > .elementor-container{max-width:970px;}.elementor-7181 .elementor-element.elementor-element-7027184{margin-top:30px;margin-bottom:30px;}.elementor-7181 .elementor-element.elementor-element-872367b > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-6aac333 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-7181 .elementor-element.elementor-element-2d587d5 > .elementor-container{max-width:970px;}.elementor-7181 .elementor-element.elementor-element-2d587d5{margin-top:30px;margin-bottom:30px;}.elementor-7181 .elementor-element.elementor-element-02ee289 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-7e958aa > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-7181 .elementor-element.elementor-element-7ed8b4d > .elementor-container{max-width:970px;}.elementor-7181 .elementor-element.elementor-element-7ed8b4d{margin-top:30px;margin-bottom:30px;}.elementor-7181 .elementor-element.elementor-element-ef406f6 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-a3657c6 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-7181 .elementor-element.elementor-element-991812b > .elementor-container{max-width:970px;}.elementor-7181 .elementor-element.elementor-element-991812b{margin-top:30px;margin-bottom:30px;}.elementor-7181 .elementor-element.elementor-element-b499ade > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-5fd3d2e > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-7181 .elementor-element.elementor-element-9db1086{--divider-border-style:solid;--divider-color:var( --e-global-color-secondary );--divider-border-width:1px;}.elementor-7181 .elementor-element.elementor-element-9db1086 .elementor-divider-separator{width:100%;}.elementor-7181 .elementor-element.elementor-element-9db1086 .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-7181 .elementor-element.elementor-element-9db1086 > .elementor-widget-container{margin:-36px -0px -0px -0px;}.elementor-7181 .elementor-element.elementor-element-e4d553a > .elementor-container{max-width:970px;}.elementor-7181 .elementor-element.elementor-element-e4d553a{margin-top:30px;margin-bottom:30px;}.elementor-7181 .elementor-element.elementor-element-bbbc6ed > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-39fdb704{margin-top:96px;margin-bottom:128px;padding:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-5f14ac32 .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Adrianna", Sans-serif;font-size:34px;font-weight:700;}.elementor-7181 .elementor-element.elementor-element-5f14ac32 > .elementor-widget-container{margin:2% 2% 2% 0%;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b .anwp-pg-widget-header__secondary-line{background-color:#61CE70;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b.anwp-pg-widget-header-style--b .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b.anwp-pg-widget-header-style--c .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b .anwp-pg-widget-header{margin-bottom:15px;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b .anwp-pg-classic-grid .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;color:var( --e-global-color-secondary );}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b .anwp-pg-classic-grid .anwp-pg-post-teaser__content{background-color:#FFFFFF !important;}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b .anwp-pg-post-teaser__title a{font-family:"Adrianna", Sans-serif;font-size:16px;color:var( --e-global-color-text );}.elementor-7181 .elementor-element.elementor-element-5e7f8d2b .anwp-pg-post-teaser__bottom-meta{margin-top:-5px;margin-bottom:-5px;}@media(min-width:768px){.elementor-7181 .elementor-element.elementor-element-3cdae431{width:10.031%;}.elementor-7181 .elementor-element.elementor-element-3d5aa6d1{width:79.502%;}.elementor-7181 .elementor-element.elementor-element-53a3c67c{width:10.131%;}}@media(max-width:767px){.elementor-7181 .elementor-element.elementor-element-0f27622{margin-top:40px;margin-bottom:0px;}.elementor-7181 .elementor-element.elementor-element-9801255 > .elementor-element-populated{margin:0px 16px 0px 16px;--e-column-margin-right:16px;--e-column-margin-left:16px;}.elementor-7181 .elementor-element.elementor-element-d26de68 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-7181 .elementor-element.elementor-element-c931192 > .elementor-element-populated{margin:0px 16px 0px 16px;--e-column-margin-right:16px;--e-column-margin-left:16px;}.elementor-7181 .elementor-element.elementor-element-2d9c976 > .elementor-element-populated{margin:0px 16px 0px 16px;--e-column-margin-right:16px;--e-column-margin-left:16px;}.elementor-7181 .elementor-element.elementor-element-b2ab8f1 > .elementor-element-populated{margin:0px 16px 0px 16px;--e-column-margin-right:16px;--e-column-margin-left:16px;}.elementor-7181 .elementor-element.elementor-element-0178dad > .elementor-element-populated{margin:0px 16px 0px 16px;--e-column-margin-right:16px;--e-column-margin-left:16px;}.elementor-7181 .elementor-element.elementor-element-872367b > .elementor-element-populated{margin:0px 16px 0px 16px;--e-column-margin-right:16px;--e-column-margin-left:16px;}.elementor-7181 .elementor-element.elementor-element-02ee289 > .elementor-element-populated{margin:0px 16px 0px 16px;--e-column-margin-right:16px;--e-column-margin-left:16px;}.elementor-7181 .elementor-element.elementor-element-ef406f6 > .elementor-element-populated{margin:0px 16px 0px 16px;--e-column-margin-right:16px;--e-column-margin-left:16px;}.elementor-7181 .elementor-element.elementor-element-b499ade > .elementor-element-populated{margin:0px 16px 0px 16px;--e-column-margin-right:16px;--e-column-margin-left:16px;}.elementor-7181 .elementor-element.elementor-element-bbbc6ed > .elementor-element-populated{margin:0px 16px 0px 16px;--e-column-margin-right:16px;--e-column-margin-left:16px;}.elementor-7181 .elementor-element.elementor-element-39fdb704{margin-top:32px;margin-bottom:56px;}.elementor-7181 .elementor-element.elementor-element-5f14ac32{text-align:left;}.elementor-7181 .elementor-element.elementor-element-5f14ac32 .elementor-heading-title{font-size:22px;letter-spacing:1px;word-spacing:0.2em;}.elementor-7181 .elementor-element.elementor-element-5f14ac32 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 4% 0% 0%;}}/* Start custom CSS for anwp-pg-classic-grid, class: .elementor-element-5e7f8d2b */.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__category-wrapper span{
  color: #F39E3D;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__category-wrapper span{
  color: #1A00DE;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__category-wrapper span{
  color: #F2A4B1;
}

.read-more-grid.anwp-pg-read-more__btn{
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 16px !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__bottom-meta{
    margin-top: 25px !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+1) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #F39E3D;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+2) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #F2A4B1;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+3) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #1A00DE;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__content{
    border: none !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: 700;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__top-meta{
    top: 104% !important;
    left: -3% !important;
    
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__thumbnail{
    overflow: visible !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__title{
    margin: 30px 0px 0px 2px !important;
    text-align: left !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Demibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-DemiboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ExtraboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */