.elementor-21739 .elementor-element.elementor-element-98be455 > .elementor-container{max-width:1229px;}.elementor-21739 .elementor-element.elementor-element-98be455{margin-top:50px;margin-bottom:0px;}.elementor-21739 .elementor-element.elementor-element-0f83a1c > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-21739 .elementor-element.elementor-element-0f83a1c > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-21739 .elementor-element.elementor-element-68bc31f{font-size:12px;font-weight:300;color:#0A0055AD;}.elementor-21739 .elementor-element.elementor-element-68bc31f a{color:var( --e-global-color-text );}.elementor-21739 .elementor-element.elementor-element-68bc31f > .elementor-widget-container{margin:0px 0px 31px 0px;}.elementor-21739 .elementor-element.elementor-element-eb0f1d1 .elementor-heading-title{color:var( --e-global-color-text );font-size:48px;font-weight:700;}.elementor-21739 .elementor-element.elementor-element-eb0f1d1 > .elementor-widget-container{margin:0px 0px 31px 0px;}.elementor-21739 .elementor-element.elementor-element-7db86ff{font-size:18px;}.elementor-21739 .elementor-element.elementor-element-9df268c > .elementor-container{max-width:1229px;}.elementor-21739 .elementor-element.elementor-element-9df268c{margin-top:50px;margin-bottom:0px;}.elementor-21739 .elementor-element.elementor-element-309b325 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-21739 .elementor-element.elementor-element-309b325 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-21739 .elementor-element.elementor-element-309b325{z-index:0;}.elementor-21739 .elementor-element.elementor-element-04898f5 .elementor-heading-title{color:var( --e-global-color-text );font-size:48px;font-weight:700;}.elementor-21739 .elementor-element.elementor-element-04898f5 > .elementor-widget-container{margin:0px 0px 43px 0px;}.elementor-21739 .elementor-element.elementor-element-4aae69db{margin-top:96px;margin-bottom:128px;padding:0px 0px 0px 0px;}.elementor-21739 .elementor-element.elementor-element-6b49fa11 .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Adrianna", Sans-serif;font-size:34px;font-weight:700;}.elementor-21739 .elementor-element.elementor-element-6b49fa11 > .elementor-widget-container{margin:2% 2% 2% 0%;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25 .anwp-pg-widget-header__secondary-line{background-color:#61CE70;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25.anwp-pg-widget-header-style--b .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25.anwp-pg-widget-header-style--c .anwp-pg-widget-header__title{background-color:#61CE70;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25 .anwp-pg-widget-header{margin-bottom:15px;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25.anwp-pg-widget-header-style--b .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25.anwp-pg-widget-header-style--c .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25.anwp-pg-widget-header-style--d .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25.anwp-pg-widget-header-style--e .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25.anwp-pg-widget-header-style--f .anwp-pg-widget-header__secondary-line{height:2px;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25.anwp-pg-widget-header-style--g .anwp-pg-widget-header__secondary-line{width:2px;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25.anwp-pg-widget-header-style--g .anwp-pg-widget-header__title{margin-left:2px;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25 .anwp-pg-classic-grid .anwp-pg-category__wrapper-filled{background-color:#FFFFFF !important;color:var( --e-global-color-secondary );}.elementor-21739 .elementor-element.elementor-element-7dc0fc25 .anwp-pg-classic-grid .anwp-pg-post-teaser__content{background-color:#FFFFFF !important;}.elementor-21739 .elementor-element.elementor-element-7dc0fc25 .anwp-pg-post-teaser__title a{font-family:"Adrianna", Sans-serif;font-size:16px;color:var( --e-global-color-text );}.elementor-21739 .elementor-element.elementor-element-7dc0fc25 .anwp-pg-post-teaser__bottom-meta{margin-top:-5px;margin-bottom:-5px;}:root{--page-title-display:none;}@media(min-width:768px){.elementor-21739 .elementor-element.elementor-element-90a0b05{width:10.031%;}.elementor-21739 .elementor-element.elementor-element-55cbde55{width:79.502%;}.elementor-21739 .elementor-element.elementor-element-5fd24561{width:10.131%;}}@media(max-width:767px){.elementor-21739 .elementor-element.elementor-element-98be455{margin-top:0px;margin-bottom:0px;}.elementor-21739 .elementor-element.elementor-element-0f83a1c > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-21739 .elementor-element.elementor-element-68bc31f > .elementor-widget-container{margin:25px 0px 20px 16px;}.elementor-21739 .elementor-element.elementor-element-eb0f1d1 .elementor-heading-title{font-size:28px;line-height:28px;}.elementor-21739 .elementor-element.elementor-element-eb0f1d1 > .elementor-widget-container{margin:0px 16px 0px 16px;}.elementor-21739 .elementor-element.elementor-element-7db86ff{font-size:16px;}.elementor-21739 .elementor-element.elementor-element-7db86ff > .elementor-widget-container{margin:20px 16px 0px 16px;}.elementor-21739 .elementor-element.elementor-element-9df268c{margin-top:0px;margin-bottom:0px;}.elementor-21739 .elementor-element.elementor-element-309b325 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-21739 .elementor-element.elementor-element-309b325 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-21739 .elementor-element.elementor-element-04898f5 .elementor-heading-title{font-size:28px;line-height:28px;}.elementor-21739 .elementor-element.elementor-element-04898f5 > .elementor-widget-container{margin:30px 16px 25px 16px;}.elementor-21739 .elementor-element.elementor-element-d912ca7 > .elementor-widget-container{margin:0px 10px 0px 10px;}.elementor-21739 .elementor-element.elementor-element-4aae69db{margin-top:32px;margin-bottom:56px;}.elementor-21739 .elementor-element.elementor-element-6b49fa11{text-align:left;}.elementor-21739 .elementor-element.elementor-element-6b49fa11 .elementor-heading-title{font-size:22px;letter-spacing:1px;word-spacing:0.2em;}.elementor-21739 .elementor-element.elementor-element-6b49fa11 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 4% 0% 0%;}}/* Start custom CSS for shortcode, class: .elementor-element-e1f661a */.elementor-21739 .elementor-element.elementor-element-e1f661a {
    margin-left: -32px;
    width: 100vw;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-selected-day{
    background-color: #F39E3D !important;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-sl-angle-right{
    color: #1A00DE !important;
    font-weight: 900;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-sl-angle-left{
    color: #1A00DE !important;
    font-weight: 900;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a *{
    color: #0A0055;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-load-month{
    border: none;
    box-shadow: none;
    text-transform: lowercase;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-load-month-link{
    text-transform: none;
    font-size: 18px;
    font-weight: 600;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-load-month:hover a{
    color: #FA7268;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar-header h2{
    margin: 0px 110px;
    background-color: #FBEBE7;
    color: #1A00DE;
    font-family: "Magicline";
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 400;
    padding: 35px 0px 15px 0px;
    transform: rotate(-3deg);
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar .mec-calendar-table-head dt{
    text-transform: lowercase;
    font-weight: 600;
    font-size: 18px;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-table-nullday{
    color: #0A0055;
    opacity: 20%;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar-day,.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-table-nullday{
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 10px;
    font-size: 18px;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar-row{
    order-collapse: separate;
    border-spacing: 51px 7px;
    margin-left: -16px;
    margin-right: -16px;
    width: 588px;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-selected-day{
    background-color: #F39E3D;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-selected-day{
    color: white;
    background-color: #F39E3D;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-has-event{
    background-color: #F2A4B1;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-has-event:hover{
    background-color: #F39E3D;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-has-event:after{
    display: none;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-table-side-title{
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0.5px;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-event-article{
    border-color: #F6C8B8;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-event-detail{
    font-size: 18px;
    margin-left: 14px;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-event-image, .elementor-21739 .elementor-element.elementor-element-e1f661a .mec-event-time i{
    display: none;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-event-loc-place{
    font-size: 11px;
    line-height: 1.1;
    margin: 0;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-event-title{
    color: #0A0055;
    font-weight: 600;
    font-size: 18px;
    text-transform: none;
    margin-left: 14px;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-event-time{
    margin-left: 14px;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-color-hover{
    font-size: 18px;
    color: #0A0055;
    transition: none;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar .mec-event-article:hover{
    color: white;
    background-color: #F39E3D;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar .mec-event-article:hover *{
    color: white;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar .mec-event-article .mec-event-title a:hover{
    color: white
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-table-side-day{
    border: none;
    font-size: 20px;
    font-weight: 400;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-wrap {
    overflow: hidden;
    position: relative;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-modal-preloader,
.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-month-navigator-loading {
    position: absolute;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .event-color{
    display: none;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-event-footer{
    display: none;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar-side{
    border: solid 1px #FBEBE7;
    background-color: white;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar-side:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #F2A4B1;
    z-index: -1;
    top: 8px;
    left: 8px;

}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar {
    border: none
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar-events-side{
    border: solid 1px #FBEBE7;
    margin-left: 32px;
    background-color: white;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar-events-side:after{
        content: "";
    height: 632px;
    width: 392px;
    position: absolute;
    background-color: #1A00DE;
    z-index: -1;
    right: 24px;
    bottom: 13px;
}

.elementor-21739 .elementor-element.elementor-element-e1f661a .mec-calendar-topsec {
    display: table;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 32px 0px;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-d912ca7 */.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-sl-angle-right{
    color: #1A00DE !important;
    font-weight: 900;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-sl-angle-left{
    color: #1A00DE !important;
    font-weight: 900;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 *{
    color: #0A0055;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-load-month{
    border: none;
    box-shadow: none;
    text-transform: lowercase;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-load-month-link{
    text-transform: none;
    font-size: 18px;
    font-weight: 600;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-load-month:hover a{
    color: #FA7268;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-calendar-header h2{
    margin: 0px 40px;
    background-color: #FBEBE7;
    color: #1A00DE;
    font-family: "Magicline";
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 400;
    padding: 15px 0px 5px 0px;
    transform: rotate(-3deg);
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-calendar .mec-calendar-table-head dt{
    text-transform: lowercase;
    font-weight: 600;
    font-size: 18px;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-table-nullday{
    color: #0A0055;
    opacity: 20%;
}


.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-selected-day{
    background-color: #F39E3D;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-selected-day{
    color: white;
    background-color: #F39E3D;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-has-event{
    background-color: #F2A4B1;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-has-event:hover{
    background-color: #F39E3D;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-has-event:after{
    display: none;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-table-side-title{
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0.5px;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-event-article{
    border-color: #F6C8B8;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-event-detail{
    font-size: 18px;
    margin-left: 14px;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-event-image, .elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-event-time i{
    display: none;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-event-loc-place{
    font-size: 11px;
    line-height: 1.1;
    margin: 0;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-event-title{
    color: #0A0055;
    font-weight: 600;
    font-size: 18px;
    text-transform: none;
   margin-left: 14px;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-event-time{
    margin-left: 14px;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-color-hover{
    font-size: 18px;
    color: #0A0055;
    transition: none;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-calendar .mec-event-article:hover{
    color: white;
    background-color: #F39E3D;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-calendar .mec-event-article:hover *{
    color: white;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-calendar .mec-event-article .mec-event-title a:hover{
    color: white
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-table-side-day{
    border: none;
    font-size: 20px;
    font-weight: 400;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-wrap {
    overflow: hidden;
    position: relative;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-modal-preloader,
.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-month-navigator-loading {
    position: absolute;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .event-color{
    display: none;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-event-footer{
    display: none;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-calendar-side{
    border: solid 1px #FBEBE7;
    background-color: white;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-calendar-side:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #F2A4B1;
    z-index: -1;
    top: 8px;
    left: 8px;

}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-calendar {
    border: none
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-calendar-events-side{
    border: solid 1px #FBEBE7;
    background-color: white;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-calendar-events-side:after{
        content: "";
    position: absolute;
    background-color: #1A00DE;
    z-index: -1;
    right: 24px;
    bottom: 13px;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-calendar-row{
    height: 38px;
    line-height: 38px;
}

.elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-calendar-day, .elementor-21739 .elementor-element.elementor-element-d912ca7 .mec-table-nullday{
    height: 25px;
    line-height: 25px;
    width: 25px;
    display: inline-block;
    margin: auto 2.6%;
}/* End custom CSS */
/* Start custom CSS for anwp-pg-classic-grid, class: .elementor-element-7dc0fc25 */.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+1) .anwp-pg-post-teaser__category-wrapper span{
  color: #F39E3D;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+3) .anwp-pg-post-teaser__category-wrapper span{
  color: #1A00DE;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+2) .anwp-pg-post-teaser__category-wrapper span{
  color: #F2A4B1;
}

.read-more-grid.anwp-pg-read-more__btn{
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 16px !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__bottom-meta{
    margin-top: 25px !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+1) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #F39E3D;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+2) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #F2A4B1;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser:nth-child(3n+3) .read-more-grid.anwp-pg-read-more__btn{
  background-color: #1A00DE;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__content{
    border: none !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__category-wrapper{
    font-family: Adrianna-Regular, sans-serif !important;
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: 700;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__top-meta{
    top: 104% !important;
    left: -3% !important;
    
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__thumbnail{
    overflow: visible !important;
}

.anwp-pg-classic-grid .anwp-pg-post-teaser__title{
    margin: 30px 0px 0px 2px !important;
    text-align: left !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Demibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-DemiboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ExtraboldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Adrianna';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://localhost:8888/wp-content/uploads/2022/01/Adrianna-Regular.ttf') format('truetype');
}
/* End Custom Fonts CSS */